In [77]:
import pandas as pd
import tushare as ts
import os, time

In [79]:
pd_hist = pd.read_csv('hist_sample/SH600739.csv', names=['date', 'time', 'open', 'high', 'low', 'close', 'volume', 'total'])
#pd_new = pd.read_csv("20170918/5min_300221.csv")

In [5]:
pd_hist, pd_new

(            date   time   open   high    low  close  volume      total
 0     2017/01/03  09:35  17.96  18.02  17.96  18.02  2072.0  3729200.0
 1     2017/01/03  09:40  18.01  18.02  17.98  17.99  1365.0  2456800.0
 2     2017/01/03  09:45  18.00  18.10  18.00  18.09  1440.0  2599700.0
 3     2017/01/03  09:50  18.09  18.13  18.08  18.11  2729.0  4941900.0
 4     2017/01/03  09:55  18.11  18.12  18.08  18.08  1806.0  3268800.0
 5     2017/01/03  10:00  18.08  18.08  18.02  18.04  1954.0  3526500.0
 6     2017/01/03  10:05  18.05  18.05  18.01  18.02  2880.0  5191000.0
 7     2017/01/03  10:10  18.03  18.07  18.02  18.07  2161.0  3897200.0
 8     2017/01/03  10:15  18.07  18.08  18.06  18.07   952.0  1720600.0
 9     2017/01/03  10:20  18.08  18.08  18.03  18.06  1544.0  2787300.0
 10    2017/01/03  10:25  18.05  18.07  18.04  18.07   345.0   622800.0
 11    2017/01/03  10:30  18.07  18.08  18.06  18.08   604.0  1090900.0
 12    2017/01/03  10:35  18.08  18.09  18.07  18.08  1589.0  2873400.0
 13    2017/01/03  10:40  18.08  18.09  18.07  18.08  1031.0  1864400.0
 14    2017/01/03  10:45  18.08  18.09  18.07  18.09   718.0  1298100.0
 15    2017/01/03  10:50  18.08  18.09  18.07  18.08   519.0   938500.0
 16    2017/01/03  10:55  18.08  18.08  18.05  18.05  1336.0  2414200.0
 17    2017/01/03  11:00  18.06  18.07  18.05  18.07   367.0   662300.0
 18    2017/01/03  11:05  18.07  18.10  18.07  18.10  1250.0  2261500.0
 19    2017/01/03  11:10  18.10  18.11  18.06  18.07   936.0  1693100.0
 20    2017/01/03  11:15  18.07  18.09  18.07  18.08   491.0   887500.0
 21    2017/01/03  11:20  18.07  18.09  18.07  18.09   556.0  1005000.0
 22    2017/01/03  11:25  18.07  18.09  18.04  18.05  1031.0  1863900.0
 23    2017/01/03  11:30  18.06  18.06  18.04  18.06   870.0  1570000.0
 24    2017/01/03  13:05  18.05  18.07  18.05  18.05   724.0  1307800.0
 25    2017/01/03  13:10  18.05  18.08  18.05  18.07   431.0   778600.0
 26    2017/01/03  13:15  18.07  18.08  18.06  18.06   372.0   672000.0
 27    2017/01/03  13:20  18.06  18.06  18.05  18.05   930.0  1679000.0
 28    2017/01/03  13:25  18.06  18.07  18.04  18.06   849.0  1532700.0
 29    2017/01/03  13:30  18.06  18.08  18.06  18.08   701.0  1267000.0
 ...          ...    ...    ...    ...    ...    ...     ...        ...
 7458  2017/08/31  11:05  18.66  18.68  18.65  18.67  1380.0  2576600.0
 7459  2017/08/31  11:10  18.68  18.73  18.66  18.72  1696.0  3170504.0
 7460  2017/08/31  11:15  18.72  18.73  18.66  18.67  1834.0  3428400.0
 7461  2017/08/31  11:20  18.67  18.71  18.65  18.70  2304.0  4302000.0
 7462  2017/08/31  11:25  18.70  18.70  18.66  18.67  1588.0  2966000.0
 7463  2017/08/31  11:30  18.66  18.66  18.63  18.64  1102.0  2055088.0
 7464  2017/08/31  13:05  18.64  18.64  18.62  18.63  1001.0  1864800.0
 7465  2017/08/31  13:10  18.62  18.64  18.62  18.64  1406.0  2619408.0
 7466  2017/08/31  13:15  18.64  18.64  18.63  18.63   880.0  1639904.0
 7467  2017/08/31  13:20  18.64  18.66  18.62  18.66  2164.0  4032192.0
 7468  2017/08/31  13:25  18.64  18.66  18.60  18.60  2555.0  4757600.0
 7469  2017/08/31  13:30  18.60  18.61  18.58  18.60  2013.0  3743008.0
 7470  2017/08/31  13:35  18.60  18.63  18.59  18.62  1324.0  2464992.0
 7471  2017/08/31  13:40  18.61  18.64  18.61  18.64  2143.0  3992400.0
 7472  2017/08/31  13:45  18.63  18.64  18.61  18.62  1511.0  2813808.0
 7473  2017/08/31  13:50  18.63  18.65  18.62  18.65  1728.0  3219696.0
 7474  2017/08/31  13:55  18.64  18.66  18.64  18.65  1097.0  2046208.0
 7475  2017/08/31  14:00  18.64  18.66  18.64  18.65  3220.0  6003584.0
 7476  2017/08/31  14:05  18.65  18.68  18.64  18.66  3096.0  5776800.0
 7477  2017/08/31  14:10  18.65  18.66  18.64  18.64  1619.0  3019408.0
 7478  2017/08/31  14:15  18.64  18.65  18.58  18.65  4495.0  8364000.0
 7479  2017/08/31  14:20  18.65  18.65  18.63  18.64  1075.0  2003904.0
 7480  2017/08/31  14:25  18.64  18.65  18.63  18.65  1437.0  2679296.0
 7481  2017/08/31  14:30  18.65  18.66  18.65  18.65   876.0  1634192.0
 7482  2017/08/31  14:35  18.66  18.66  18.64  18.66  2305.0  4299312.0
 7483  2017/08/31  14:40  18.65  18.71  18.65  18.71  4258.0  7957792.0
 7484  2017/08/31  14:45  18.71  18.73  18.68  18.68  4750.0  8883408.0
 7485  2017/08/31  14:50  18.68  18.69  18.68  18.69  1836.0  3430400.0
 7486  2017/08/31  14:55  18.68  18.69  18.67  18.68  2366.0  4419488.0
 7487  2017/08/31  15:00  18.68  18.70  18.68  18.70  3122.0  5834800.0

 [7488 rows x 8 columns],
                  date   open  close   high    low  volume    code
 0    2017-08-25 14:55  12.42  12.38  12.42  12.38   781.0  300221
 1    2017-08-25 15:00  12.38  12.39  12.40  12.38   958.0  300221
 2    2017-08-28 09:35  12.39  12.36  12.43  12.28  2137.0  300221
 3    2017-08-28 09:40  12.36  12.42  12.49  12.36  1548.0  300221
 4    2017-08-28 09:45  12.42  12.45  12.45  12.41   818.0  300221
 5    2017-08-28 09:50  12.45  12.52  12.55  12.45  1495.0  300221
 6    2017-08-28 09:55  12.52  12.50  12.52  12.48  1991.0  300221
 7    2017-08-28 10:00  12.50  12.52  12.59  12.50  4468.0  300221
 8    2017-08-28 10:05  12.52  12.51  12.56  12.50  1628.0  300221
 9    2017-08-28 10:10  12.51  12.52  12.52  12.49   997.0  300221
 10   2017-08-28 10:15  12.52  12.50  12.52  12.49   584.0  300221
 11   2017-08-28 10:20  12.50  12.51  12.52  12.49   771.0  300221
 12   2017-08-28 10:25  12.51  12.50  12.51  12.50   719.0  300221
 13   2017-08-28 10:30  12.50  12.54  12.54  12.50   838.0  300221
 14   2017-08-28 10:35  12.54  12.51  12.54  12.51  1123.0  300221
 15   2017-08-28 10:40  12.51  12.57  12.58  12.51  1560.0  300221
 16   2017-08-28 10:45  12.57  12.55  12.57  12.53   929.0  300221
 17   2017-08-28 10:50  12.55  12.56  12.57  12.55   877.0  300221
 18   2017-08-28 10:55  12.56  12.59  12.61  12.56  3236.0  300221
 19   2017-08-28 11:00  12.59  12.64  12.68  12.59  4460.0  300221
 20   2017-08-28 11:05  12.64  12.61  12.64  12.61  1082.0  300221
 21   2017-08-28 11:10  12.61  12.58  12.61  12.57   747.0  300221
 22   2017-08-28 11:15  12.58  12.63  12.63  12.57  1023.0  300221
 23   2017-08-28 11:20  12.63  12.61  12.64  12.61   448.0  300221
 24   2017-08-28 11:25  12.61  12.64  12.64  12.60  1280.0  300221
 25   2017-08-28 11:30  12.64  12.60  12.64  12.60   142.0  300221
 26   2017-08-28 13:05  12.60  12.61  12.63  12.60   525.0  300221
 27   2017-08-28 13:10  12.61  12.62  12.66  12.61  1836.0  300221
 28   2017-08-28 13:15  12.62  12.66  12.66  12.62  1075.0  300221
 29   2017-08-28 13:20  12.66  12.64  12.67  12.64  1050.0  300221
 ..                ...    ...    ...    ...    ...     ...     ...
 740  2017-09-18 11:05  16.49  16.38  16.49  16.38  2648.0  300221
 741  2017-09-18 11:10  16.38  16.39  16.39  16.35  1937.0  300221
 742  2017-09-18 11:15  16.39  16.39  16.40  16.38  1388.0  300221
 743  2017-09-18 11:20  16.39  16.35  16.39  16.35  1288.0  300221
 744  2017-09-18 11:25  16.35  16.36  16.37  16.35   597.0  300221
 745  2017-09-18 11:30  16.36  16.37  16.37  16.36   248.0  300221
 746  2017-09-18 13:05  16.37  16.44  16.45  16.37  2543.0  300221
 747  2017-09-18 13:10  16.44  16.50  16.50  16.43  4293.0  300221
 748  2017-09-18 13:15  16.50  16.54  16.55  16.50  5144.0  300221
 749  2017-09-18 13:20  16.54  16.60  16.67  16.54  8127.0  300221
 750  2017-09-18 13:25  16.60  16.61  16.61  16.57  3785.0  300221
 751  2017-09-18 13:30  16.61  16.58  16.61  16.57  2310.0  300221
 752  2017-09-18 13:35  16.58  16.55  16.59  16.55  2916.0  300221
 753  2017-09-18 13:40  16.55  16.53  16.55  16.52  3512.0  300221
 754  2017-09-18 13:45  16.53  16.53  16.53  16.50  2293.0  300221
 755  2017-09-18 13:50  16.53  16.50  16.53  16.50  1415.0  300221
 756  2017-09-18 13:55  16.50  16.45  16.50  16.42  4123.0  300221
 757  2017-09-18 14:00  16.45  16.54  16.55  16.45  3356.0  300221
 758  2017-09-18 14:05  16.54  16.60  16.61  16.53  3592.0  300221
 759  2017-09-18 14:10  16.60  16.49  16.60  16.49  2567.0  300221
 760  2017-09-18 14:15  16.49  16.43  16.49  16.42  2838.0  300221
 761  2017-09-18 14:20  16.43  16.47  16.49  16.43   844.0  300221
 762  2017-09-18 14:25  16.47  16.53  16.53  16.46  1499.0  300221
 763  2017-09-18 14:30  16.53  16.64  16.65  16.53  4379.0  300221
 764  2017-09-18 14:35  16.64  16.65  16.67  16.60  5072.0  300221
 765  2017-09-18 14:40  16.65  16.65  16.68  16.62  3940.0  300221
 766  2017-09-18 14:45  16.65  16.56  16.67  16.49  3693.0  300221
 767  2017-09-18 14:50  16.56  16.53  16.59  16.50  5375.0  300221
 768  2017-09-18 14:55  16.53  16.62  16.62  16.50  9627.0  300221
 769  2017-09-18 15:00  16.62  16.61  16.62  16.60  2350.0  300221

 [770 rows x 7 columns])

In [86]:
pd_hist["volume2"] = round(pd_hist['volume']*2+0.01)
pd_hist

,date,time,open,high,low,close,volume,total,stk,volume2
0,2017/01/03,09:35,17.96,18.02,17.96,18.02,2072.0,3729200.0,2017/01/03,4144.01
1,2017/01/03,09:40,18.01,18.02,17.98,17.99,1365.0,2456800.0,2017/01/03,2730.01
2,2017/01/03,09:45,18.00,18.10,18.00,18.09,1440.0,2599700.0,2017/01/03,2880.01
3,2017/01/03,09:50,18.09,18.13,18.08,18.11,2729.0,4941900.0,2017/01/03,5458.01
4,2017/01/03,09:55,18.11,18.12,18.08,18.08,1806.0,3268800.0,2017/01/03,3612.01
5,2017/01/03,10:00,18.08,18.08,18.02,18.04,1954.0,3526500.0,2017/01/03,3908.01
6,2017/01/03,10:05,18.05,18.05,18.01,18.02,2880.0,5191000.0,2017/01/03,5760.01
7,2017/01/03,10:10,18.03,18.07,18.02,18.07,2161.0,3897200.0,2017/01/03,4322.01
8,2017/01/03,10:15,18.07,18.08,18.06,18.07,952.0,1720600.0,2017/01/03,1904.01
9,2017/01/03,10:20,18.08,18.08,18.03,18.06,1544.0,2787300.0,2017/01/03,3088.01
10,2017/01/03,10:25,18.05,18.07,18.04,18.07,345.0,622800.0,2017/01/03,690.01
11,2017/01/03,10:30,18.07,18.08,18.06,18.08,604.0,1090900.0,2017/01/03,1208.01
12,2017/01/03,10:35,18.08,18.09,18.07,18.08,1589.0,2873400.0,2017/01/03,3178.01
13,2017/01/03,10:40,18.08,18.09,18.07,18.08,1031.0,1864400.0,2017/01/03,2062.01
14,2017/01/03,10:45,18.08,18.09,18.07,18.09,718.0,1298100.0,2017/01/03,1436.01
15,2017/01/03,10:50,18.08,18.09,18.07,18.08,519.0,938500.0,2017/01/03,1038.01
16,2017/01/03,10:55,18.08,18.08,18.05,18.05,1336.0,2414200.0,2017/01/03,2672.01
17,2017/01/03,11:00,18.06,18.07,18.05,18.07,367.0,662300.0,2017/01/03,734.01
18,2017/01/03,11:05,18.07,18.10,18.07,18.10,1250.0,2261500.0,2017/01/03,2500.01
19,2017/01/03,11:10,18.10,18.11,18.06,18.07,936.0,1693100.0,2017/01/03,1872.01
20,2017/01/03,11:15,18.07,18.09,18.07,18.08,491.0,887500.0,2017/01/03,982.01
21,2017/01/03,11:20,18.07,18.09,18.07,18.09,556.0,1005000.0,2017/01/03,1112.01
22,2017/01/03,11:25,18.07,18.09,18.04,18.05,1031.0,1863900.0,2017/01/03,2062.01
23,2017/01/03,11:30,18.06,18.06,18.04,18.06,870.0,1570000.0,2017/01/03,1740.01
24,2017/01/03,13:05,18.05,18.07,18.05,18.05,724.0,1307800.0,2017/01/03,1448.01
25,2017/01/03,13:10,18.05,18.08,18.05,18.07,431.0,778600.0,2017/01/03,862.01
26,2017/01/03,13:15,18.07,18.08,18.06,18.06,372.0,672000.0,2017/01/03,744.01
27,2017/01/03,13:20,18.06,18.06,18.05,18.05,930.0,1679000.0,2017/01/03,1860.01
28,2017/01/03,13:25,18.06,18.07,18.04,18.06,849.0,1532700.0,2017/01/03,1698.01
29,2017/01/03,13:30,18.06,18.08,18.06,18.08,701.0,1267000.0,2017/01/03,1402.01
...,...,...,...,...,...,...,...,...,...,...
7458,2017/08/31,11:05,18.66,18.68,18.65,18.67,1380.0,2576600.0,2017/08/31,2760.01
7459,2017/08/31,11:10,18.68,18.73,18.66,18.72,1696.0,3170504.0,2017/08/31,3392.01
7460,2017/08/31,11:15,18.72,18.73,18.66,18.67,1834.0,3428400.0,2017/08/31,3668.01
7461,2017/08/31,11:20,18.67,18.71,18.65,18.70,2304.0,4302000.0,2017/08/31,4608.01
7462,2017/08/31,11:25,18.70,18.70,18.66,18.67,1588.0,2966000.0,2017/08/31,3176.01
7463,2017/08/31,11:30,18.66,18.66,18.63,18.64,1102.0,2055088.0,2017/08/31,2204.01
7464,2017/08/31,13:05,18.64,18.64,18.62,18.63,1001.0,1864800.0,2017/08/31,2002.01
7465,2017/08/31,13:10,18.62,18.64,18.62,18.64,1406.0,2619408.0,2017/08/31,2812.01
7466,2017/08/31,13:15,18.64,18.64,18.63,18.63,880.0,1639904.0,2017/08/31,1760.01
7467,2017/08/31,13:20,18.64,18.66,18.62,18.66,2164.0,4032192.0,2017/08/31,4328.01
7468,2017/08/31,13:25,18.64,18.66,18.60,18.60,2555.0,4757600.0,2017/08/31,5110.01
7469,2017/08/31,13:30,18.60,18.61,18.58,18.60,2013.0,3743008.0,2017/08/31,4026.01
7470,2017/08/31,13:35,18.60,18.63,18.59,18.62,1324.0,2464992.0,2017/08/31,2648.01
7471,2017/08/31,13:40,18.61,18.64,18.61,18.64,2143.0,3992400.0,2017/08/31,4286.01
7472,2017/08/31,13:45,18.63,18.64,18.61,18.62,1511.0,2813808.0,2017/08/31,3022.01
7473,2017/08/31,13:50,18.63,18.65,18.62,18.65,1728.0,3219696.0,2017/08/31,3456.01
7474,2017/08/31,13:55,18.64,18.66,18.64,18.65,1097.0,2046208.0,2017/08/31,2194.01
7475,2017/08/31,14:00,18.64,18.66,18.64,18.65,3220.0,6003584.0,2017/08/31,6440.01
7476,2017/08/31,14:05,18.65,18.68,18.64,18.66,3096.0,5776800.0,2017/08/31,6192.01
7477,2017/08/31,14:10,18.65,18.66,18.64,18.64,1619.0,3019408.0,2017/08/31,3238.01
7478,2017/08/31,14:15,18.64,18.65,18.58,18.65,4495.0,8364000.0,2017/08/31,8990.01
7479,2017/08/31,14:20,18.65,18.65,18.63,18.64,1075.0,2003904.0,2017/08/31,2150.01
7480,2017/08/31,14:25,18.64,18.65,18.63,18.65,1437.0,2679296.0,2017/08/31,2874.01
7481,2017/08/31,14:30,18.65,18.66,18.65,18.65,876.0,1634192.0,2017/08/31,1752.01
7482,2017/08/31,14:35,18.66,18.66,18.64,18.66,2305.0,4299312.0,2017/08/31,4610.01
7483,2017/08/31,14:40,18.65,18.71,18.65,18.71,4258.0,7957792.0,2017/08/31,8516.01
7484,2017/08/31,14:45,18.71,18.73,18.68,18.68,4750.0,8883408.0,2017/08/31,9500.01
7485,2017/08/31,14:50,18.68,18.69,18.68,18.69,1836.0,3430400.0,2017/08/31,3672.01
7486,2017/08/31,14:55,18.68,18.69,18.67,18.68,2366.0,4419488.0,2017/08/31,4732.01
7487,2017/08/31,15:00,18.68,18.70,18.68,18.70,3122.0,5834800.0,2017/08/31,6244.01

In [8]:
import datetime
date1 = datetime.datetime.strptime('2017-09-18 15:00', '%Y-%m-%d %H:%M')

datetime.datetime(2017, 9, 18, 15, 0)

In [14]:
pd_hist.iloc[1].date + " " + pd_hist.iloc[1].time

'2017/01/0309:40'

In [23]:
hist_date_parse = '%Y/%m/%d'
hist_time_parse = '%H:%M'
date1 = datetime.datetime.strptime(pd_hist.iloc[1].date + pd_hist.iloc[1].time, hist_date_parse+hist_time_parse)
date1

datetime.datetime(2017, 1, 3, 9, 40)

In [2]:
sk_code = '002056'#, '002812', '002829']#, '300313', '300398', '300522', '300543', '300562', '300672', '300692', '603079', '603181', '603258', '603577', '300223', '300496', '300613']
df = ts.get_realtime_quotes(sk_code)

In [3]:
df

,name,open,pre_close,price,high,low,bid,ask,volume,amount,...,a2_p,a3_v,a3_p,a4_v,a4_p,a5_v,a5_p,date,time,code
0,横店东磁,12.060,12.300,11.880,12.880,11.810,11.880,11.890,238580178,2937316079.440,...,11.900,1282,11.910,1094,11.920,394,11.930,2017-09-12,15:05:03,002056

In [4]:
time.strftime("%H:%M:%S")

'16:30:36'

In [32]:
def getLatestQuote(sk_code):
    s_df = ts.get_realtime_quotes(sk_code)
    s_df = s_df.set_index(['time'])
    return s_df

def readFromData(sk_code, s_filename="", index="time"):
    # make default filename
    if (s_filename==""):
        s_filename = sk_code+".csv"
    return pd.read_csv(s_filename, index_col=index)

def appendData(sk_code, s_filename=""):
    # make default filename
    if (s_filename==""):
        s_filename = sk_code+".csv"
    
    # get latest price
    s_df = getLatestQuote(sk_code)
        
    try:  # read file and then update
        s_dfbase = readFromData(sk_code, s_filename)
        if not(s_df.index[0] in s_dfbase.index):
            s_dfbase = s_dfbase.append(df)
            s_dfbase.to_csv(s_filename)
    except: # 
        s_df.to_csv(s_filename)

In [37]:
appendData(sk_code)

In [19]:
dfbase.loc['11:35:00']

,a1_p,a1_v,a2_p,a2_v,a3_p,a3_v,a4_p,a4_v,a5_p,a5_v,...,bid,code,date,high,low,name,open,pre_close,price,volume
time,,,,,,,,,,,,,,,,,,,,,
11:35:00,11.95,46,11.96,95,11.97,5394,11.98,1295,11.99,2420,...,11.94,2056,2017-09-11,12.02,11.18,横店东磁,11.8,11.44,11.95,146015630
11:35:00,11.95,46,11.96,95,11.97,5394,11.98,1295,11.99,2420,...,11.94,2056,2017-09-11,12.02,11.18,横店东磁,11.8,11.44,11.95,146015630
11:35:00,11.95,46,11.96,95,11.97,5394,11.98,1295,11.99,2420,...,11.94,2056,2017-09-11,12.02,11.18,横店东磁,11.8,11.44,11.95,146015630

In [21]:
df.index[0] in dfbase.index

False

In [36]:
dfbase.drop_duplicates(inplace=True)

In [38]:
ts.get_today_all()

[Getting data:]############################################################

,code,name,changepercent,trade,open,high,low,settlement,volume,turnoverratio,amount,per,pb,mktcap,nmc
0,603999,读者传媒,-1.530,10.30,10.47,10.49,10.26,10.46,4536266.0,1.96887,4.688648e+07,35.517,1.798,5.932800e+05,2.373120e+05
1,603998,方盛制药,3.647,14.21,13.75,14.26,13.50,13.71,6637737.0,2.46594,9.207946e+07,88.813,6.312,6.123607e+05,3.825008e+05
2,603997,继峰股份,-2.687,13.04,13.42,13.45,13.03,13.40,7331603.0,4.28749,9.681370e+07,22.102,5.231,8.215200e+05,2.229840e+05
3,603996,中新科技,-0.060,16.70,16.71,16.84,16.52,16.71,1160075.0,1.12329,1.932115e+07,42.821,3.673,5.012505e+05,1.724692e+05
4,603993,洛阳钼业,-3.630,8.23,8.50,8.90,8.05,8.54,634085112.0,4.89500,5.364487e+09,137.167,7.428,1.777617e+07,1.066092e+07
5,603991,至正股份,-1.032,36.44,36.77,36.77,35.91,36.82,1873583.0,10.01916,6.798645e+07,54.388,6.218,2.716055e+05,6.814280e+04
6,603990,麦迪科技,-2.513,36.85,37.70,38.07,36.80,37.80,656800.0,3.28400,2.454464e+07,49.133,7.557,2.982245e+05,7.370000e+04
7,603989,艾华集团,1.571,37.51,36.90,37.78,36.80,36.93,1932953.0,2.29091,7.249183e+07,42.625,6.633,1.125300e+06,3.164906e+05
8,603988,中电电机,0.210,71.42,71.67,72.00,70.70,71.27,208200.0,0.92946,1.490350e+07,238.067,8.766,5.713600e+05,1.599808e+05
9,603987,康德莱,-2.760,15.50,15.85,15.90,15.42,15.94,3563921.0,4.51701,5.577373e+07,25.000,4.210,4.889242e+05,1.222950e+05
10,603986,兆易创新,2.367,111.99,109.80,112.50,106.00,109.40,4895659.0,3.32257,5.345709e+08,52.898,15.720,2.269970e+06,1.650121e+06
11,603985,恒润股份,-2.083,45.12,46.05,46.57,44.87,46.08,1687405.0,8.43703,7.710256e+07,28.582,3.759,3.609600e+05,9.024000e+04
12,603980,吉华集团,-2.850,24.88,25.68,25.68,24.85,25.61,9231220.0,9.23122,2.334093e+08,26.025,3.293,1.244000e+06,2.488000e+05
13,603979,金诚信,-1.236,13.58,13.75,13.80,13.51,13.75,4999489.0,2.05605,6.821742e+07,32.333,1.627,7.944300e+05,3.302117e+05
14,603978,深圳新星,-7.546,61.87,66.99,67.00,61.50,66.92,5322609.0,26.61305,3.450198e+08,27.995,5.211,4.949600e+05,1.237400e+05
15,603977,国泰集团,0.000,16.79,0.00,0.00,0.00,16.79,0.0,0.00000,0.000000e+00,28.458,4.068,3.711933e+05,9.281512e+04
16,603976,正川股份,-1.518,38.92,39.00,40.48,38.63,39.52,5447110.0,20.17448,2.153948e+08,44.736,5.942,4.203360e+05,1.050840e+05
17,603969,银龙股份,-0.864,18.35,18.45,18.72,18.31,18.51,7882348.0,5.16433,1.458438e+08,50.972,4.678,7.340000e+05,2.800770e+05
18,603968,醋化股份,0.000,24.84,24.86,25.25,24.60,24.84,3761266.0,2.75349,9.384894e+07,34.500,4.021,5.079283e+05,3.393144e+05
19,603966,法兰泰克,-3.155,20.26,20.95,21.10,20.10,20.92,2877877.0,7.19469,5.901210e+07,43.106,4.149,3.241600e+05,8.104000e+04
20,603960,克来机电,-2.268,31.02,31.80,31.95,30.95,31.74,1267294.0,4.87421,3.960542e+07,51.700,5.934,3.226080e+05,8.065200e+04
21,603959,百利科技,-2.075,26.43,27.10,27.14,26.30,26.99,3532025.0,3.44005,9.401433e+07,49.868,6.799,5.920320e+05,2.713661e+05
22,603958,哈森股份,-1.577,21.85,22.30,22.49,21.80,22.20,5200331.0,7.87941,1.151171e+08,51.655,4.102,4.749316e+05,1.442078e+05
23,603955,大千生态,-2.678,42.16,43.31,43.45,42.07,43.32,1120392.0,5.15123,4.776821e+07,39.490,3.607,3.667920e+05,9.169800e+04
24,603939,益丰药房,-0.962,35.00,35.41,35.41,34.90,35.34,683636.0,0.34405,2.395368e+07,52.790,4.219,1.269431e+06,6.954593e+05
25,603938,三孚股份,3.179,31.48,30.30,31.91,29.86,30.51,11227092.0,29.89379,3.467391e+08,43.722,5.258,4.727245e+05,1.182282e+05
26,603936,博敏电子,0.000,28.85,0.00,0.00,0.00,28.85,0.0,0.00000,0.000000e+00,90.439,5.026,4.828048e+05,1.618485e+05
27,603933,睿能科技,-3.851,52.43,54.56,54.56,52.05,54.53,3757307.0,14.63696,1.993219e+08,43.213,5.849,5.382988e+05,1.345878e+05
28,603929,亚翔集成,-2.400,21.55,22.09,22.16,21.51,22.08,2536820.0,4.75416,5.524136e+07,20.922,4.919,4.597908e+05,1.149908e+05
29,603928,兴业股份,3.902,18.64,18.91,19.29,18.47,17.94,11101634.0,22.02705,2.094426e+08,27.412,3.582,3.757824e+05,9.394560e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3315,600540,*ST新赛,-1.579,5.61,5.68,5.72,5.58,5.70,6958555.0,1.50253,3.931117e+07,-5.576,4.262,2.641880e+05,2.598122e+05
3316,600539,狮头股份,-1.444,17.74,18.09,18.09,17.71,18.00,2333201.0,1.01444,4.172664e+07,-354.800,8.640,4.080200e+05,4.080200e+05
3317,600520,中发科技,0.224,17.91,17.88,18.13,17.68,17.87,1323502.0,0.83539,2.370811e+07,223.875,6.655,2.837481e+05,2.837481e+05
3318,600432,*ST吉恩,0.000,6.74,0.00,0.00,0.00,6.74,0.0,0.00000,0.000000e+00,-4.956,6.842,1.080910e+06,5.466959e+05
3319,600425,*ST青松,-1.299,3.80,3.85,3.86,3.79,3.85,15563600.0,1.12879,5.959484e+07,-9.048,1.353,5.239402e+05,5.239402e+05
3320,600423,*ST柳化,-1.049,5.66,5.71,5.74,5.62,5.72,5141571.0,1.28749,2.914814e+07,-2.775,-21.080,2.260307e+05,2.260307e+05
3321,600403,*ST大有,-1.316,5.25,5.35,5.41,5.23,5.32,4660200.0,0.19492,2.478021e+07,-6.402,1.813,1.255177e+06,1.255177e+06
3322,600401,*ST海润,-0.629,1.58,1.58,1.59,1.56,1.59,49690482.0,1.05166,7.825373e+07,-6.330,2.291,7.465398e+05,7.465398e+05
3323,600390,五矿资本,-0.941,13.69,13.80,14.17,13.65,13.82,18108731.0,4.01296,2.512765e+08,3.968,1.720,5.131543e+06,6.177700e+05
3324,600381,青海春天,-1.155,12.84,12.95,12.99,12.81,12.99,4205013.0,1.98433,5.411840e+07,35.667,4.224,8.098881e+05,2.720933e+05
3325,600375,华菱星马,0.587,6.86,6.79,6.96,6.77,6.82,24218278.0,4.35784,1.667512e+08,49.000,1.400,3.812380e+05,3.812380e+05
3326,600346,恒力股份,0.000,10.06,0.00,0.00,0.00,10.06,0.0,0.00000,0.000000e+00,22.356,4.739,2.842641e+06,9.248753e+05
3327,600339,中油工程,-0.138,7.22,7.21,7.27,7.17,7.23,12391024.0,2.14320,8.942446e+07,25.850,1.761,4.031032e+06,4.174277e+05
3328,600319,亚星化学,-0.750,10.59,10.67,10.74,10.49,10.67,2483001.0,0.78677,2.626870e+07,132.375,217.454,3.342140e+05,3.342140e+05
3329,600306,商业城,-1.357,13.81,14.00,14.07,13.78,14.00,3945503.0,2.22400,5.472513e+07,22.220,11.759,2.460098e+05,2.449973e+05
3330,600301,ST南化,-0.832,9.53,9.56,9.61,9.52,9.61,682001.0,0.29003,6.526186e+06,372.266,8.629,2.240962e+05,2.240962e+05
3331,600275,*ST昌鱼,0.739,8.18,8.43,8.53,8.15,8.12,17446038.0,3.42861,1.467347e+08,-101.112,32.642,4.162289e+05,4.162289e+05
3332,600265,ST景谷,-1.502,26.88,27.29,27.49,26.75,27.29,303702.0,0.23398,8.163284e+06,103.385,213.333,3.489024e+05,3.489024e+05
3333,600247,ST成城,-0.106,9.41,9.49,9.49,9.33,9.42,1455126.0,0.43250,1.367538e+07,-14.761,-12.418,3.165915e+05,3.165915e+05
3334,600234,ST山水,-0.257,15.52,15.56,15.70,15.36,15.56,390728.0,0.19300,6.052567e+06,221.714,36.891,3.141960e+05,3.141960e+05
3335,600230,沧州大化,2.270,62.18,61.70,64.42,60.50,60.80,33914600.0,11.52820,2.113776e+09,49.298,8.583,1.829262e+06,1.829262e+06
3336,600228,*ST昌九,0.000,10.21,0.00,0.00,0.00,10.21,0.0,0.00000,0.000000e+00,-68.067,210.515,2.463877e+05,2.463877e+05
3337,600225,*ST松江,-0.704,5.64,5.69,5.70,5.63,5.68,6444900.0,0.75782,3.648979e+07,-11.510,2.811,5.276178e+05,4.796547e+05
3338,600212,江泉实业,4.857,13.17,12.66,13.80,12.57,12.56,17549971.0,3.42976,2.308144e+08,151.206,8.911,6.739052e+05,6.739052e+05
3339,600179,安通控股,-0.642,18.58,18.68,18.68,18.36,18.70,2372912.0,0.49315,4.401021e+07,37.160,7.377,1.973435e+06,8.940158e+05
3340,600149,*ST坊展,-1.643,12.57,12.78,12.78,12.55,12.78,6622213.0,1.74195,8.370859e+07,-192.791,26.785,4.778611e+05,4.778611e+05
3341,600145,*ST新亿,0.000,1.87,0.00,0.00,0.00,1.87,0.0,0.00000,0.000000e+00,-935.000,4.501,2.788358e+05,2.788358e+05
3342,600121,*ST郑煤,-2.521,6.96,7.22,7.33,6.89,7.14,22808171.0,2.24635,1.621509e+08,-11.220,2.222,7.066790e+05,7.066790e+05
3343,600112,*ST天成,0.272,7.36,7.35,7.36,7.27,7.34,5368220.0,1.05424,3.927750e+07,-37.880,3.136,3.747748e+05,3.747748e+05
3344,600091,ST明科,-0.680,7.30,7.38,7.38,7.29,7.35,1630014.0,0.48436,1.195706e+07,243.333,3.532,3.193111e+05,2.456640e+05

In [41]:
import platform;

In [42]:
platform.system()

'Linux'

In [43]:
platform.platform()

'Linux-4.9.0-3-amd64-x86_64-with-debian-9.1'

In [44]:
import platform;
def separator ():
    if platform.system() == 'Windows':
        return '\\'
    else:
        return '/'

In [45]:
separator()

'/'

In [46]:
os.sep

'/'

In [47]:
os.path

In [137]:
# function to iterative through certain history
hist_file = 'hist_sample/SH600739.csv'
hist_names = ['date', 'time', 'open', 'high', 'low', 'close', 'volume', 'total']
pd_hist = pd.read_csv(hist_file, names=hist_names)
pd_hist.set_index(["date", "time"], inplace=True)
pd_hist.index[0][0]
pd_hist.iloc[0].name

('2017/01/03', '09:35')

In [98]:
def get_delta_date_str (date_today_str, delta = -1, parse_str = "%Y/%m/%d"):
    specific_date = datetime.datetime.strptime(date_today_str, parse_str)+datetime.timedelta(delta)
    return specific_date.strftime('%Y/%m/%d')

get_delta_date_str('2017/08/08')

import numpy as np
items = np.where(pd_hist.index==('2017/01/03', '09:35'))
items
#pd_hist.iloc[items[0][0]-1].name

#pd_hist.loc[get_delta_date_str('2017/08/07')]

(array([], dtype=int64),)

In [162]:
#pd_hist.set_index(["date", "time"], inplace=True)
pd_hist.index = pd.MultiIndex.from_tuples([(x[0].replace('/', '-'), x[1]) for x in pd_hist.index])
pd_hist['code'] = [c.replace("-", "/") for c in pd_hist['code']]
pd_hist["code"] = pd_hist["code"]+"s"
"1"*0+"3"

'3'

In [112]:
pd_hist.index.get_level_values('date').unique().values[0]

'2017/01/03'

In [117]:
pd_hist.index.get_level_values('date').unique()[0]

'2017/01/03'

In [120]:
pd_hist.loc[pd_hist.index.get_level_values('date').unique()[0]]

pandas.core.frame.DataFrame

In [150]:
string = "2017-1-30"
string.replace("-", "/")
string

'2017-1-30'

In [140]:
idx = pd.MultiIndex.from_product([['John', 'Josh', 'Alex'], list('abcde')], 
                                 names=['Person', 'Letter'])
large = pd.DataFrame(data=np.random.randn(15, 2), 
                     index=idx, 
                     columns=['one', 'two'])

In [141]:
large

                    one       two
Person Letter
John   a      -0.050909 -0.104614
       b       1.539893  0.381670
       c       1.362000  0.496895
       d       0.914978 -0.714346
       e      -0.167815 -1.894689
Josh   a       0.607183  0.496531
       b      -0.403581 -0.130120
       c       0.735432 -0.072214
       d      -0.948435 -1.212430
       e       0.432771  0.276000
Alex   a      -0.230989  0.908589
       b       0.483641  0.015802
       c       0.329643 -0.183009
       d      -0.674808 -0.206299
       e       1.610152 -0.016375

In [143]:
small = large.loc[['Jo'==d[0:2] for d in large.index.get_level_values('Person')]]
small

                    one       two
Person Letter
John   a      -0.050909 -0.104614
       b       1.539893  0.381670
       c       1.362000  0.496895
       d       0.914978 -0.714346
       e      -0.167815 -1.894689
Josh   a       0.607183  0.496531
       b      -0.403581 -0.130120
       c       0.735432 -0.072214
       d      -0.948435 -1.212430
       e       0.432771  0.276000

In [144]:
small.index.get_level_values('Person').unique()

Index(['John', 'Josh'], dtype='object', name='Person')

In [158]:
[print(small.loc[ic]) for ic in small.index.get_level_values('Person').unique()]

             one       two
Letter
a      -0.050909 -0.104614
b       1.539893  0.381670
c       1.362000  0.496895
d       0.914978 -0.714346
e      -0.167815 -1.894689
             one       two
Letter
a       0.607183  0.496531
b      -0.403581 -0.130120
c       0.735432 -0.072214
d      -0.948435 -1.212430
e       0.432771  0.276000

[None, None]

In [152]:
mi = pd.MultiIndex.from_arrays((list('abc'), list('def')))
mi.names = ['level_1', 'level_2']
mi.get_level_values(0)
mi.get_level_values('level_2')

Index(['d', 'e', 'f'], dtype='object', name='level_2')

In [161]:
dict_test = {"a": 11, "b":22, "cc":33}
dict_test.keys()

dict_keys(['a', 'b', 'cc'])

In [166]:
list_sample = [1,2,3,4]
list_result = []
for index, number in enumerate(dict_test.keys()):
    list_result.append((index, number))
                       
print (list_result)

[(0, 'a'), (1, 'b'), (2, 'cc')]

In [2]:
pd_new = pd.read_csv("5min_603988.csv")

In [16]:
pd_new.date[0].split(' ')[0]

'2017-09-15'

In [11]:
dates = [], times = []
[dates.append(date), times.append(time) for [date, time] in pd_new.date[0].split(' ')]

SyntaxError: invalid syntax (<ipython-input-11-9b5a092e3b66>, line 2)

In [19]:
dates = [], times = []
for transaction_time in pd_new.date:
    transaction_time
#     dates.append(transaction_time.split(" ")[0])
#     times.append(transaction_time.split(" ")[1])
# dates, times

ValueError: not enough values to unpack (expected 2, got 0)

In [21]:
pd_new.date.apply(split(" ")[0])

NameError: name 'split' is not defined

In [23]:
def splitDate(x):
    return x.split(" ")[0]
def splitTime(x):
    return x.split(" ")[1]

series_date = pd_new.date.apply(splitDate)
series_time = pd_new.date.apply(splitTime)

series_date, series_time

(0      2017-09-15
 1      2017-09-15
 2      2017-09-15
 3      2017-09-18
 4      2017-09-18
 5      2017-09-18
 6      2017-09-18
 7      2017-09-18
 8      2017-09-18
 9      2017-09-18
 10     2017-09-18
 11     2017-09-18
 12     2017-09-18
 13     2017-09-18
 14     2017-09-18
 15     2017-09-18
 16     2017-09-18
 17     2017-09-18
 18     2017-09-18
 19     2017-09-18
 20     2017-09-18
 21     2017-09-18
 22     2017-09-18
 23     2017-09-18
 24     2017-09-18
 25     2017-09-18
 26     2017-09-18
 27     2017-09-18
 28     2017-09-18
 29     2017-09-18
           ...
 452    2017-09-29
 453    2017-09-29
 454    2017-09-29
 455    2017-09-29
 456    2017-09-29
 457    2017-09-29
 458    2017-09-29
 459    2017-09-29
 460    2017-09-29
 461    2017-09-29
 462    2017-09-29
 463    2017-09-29
 464    2017-09-29
 465    2017-09-29
 466    2017-09-29
 467    2017-09-29
 468    2017-09-29
 469    2017-09-29
 470    2017-09-29
 471    2017-09-29
 472    2017-09-29
 473    2017-09-29
 474    2017-09-29
 475    2017-09-29
 476    2017-09-29
 477    2017-09-29
 478    2017-09-29
 479    2017-09-29
 480    2017-09-29
 481    2017-09-29
 Name: date, Length: 482, dtype: object, 0      14:50
 1      14:55
 2      15:00
 3      09:35
 4      09:40
 5      09:45
 6      09:50
 7      09:55
 8      10:00
 9      10:05
 10     10:10
 11     10:15
 12     10:20
 13     10:25
 14     10:30
 15     10:35
 16     10:40
 17     10:45
 18     10:50
 19     10:55
 20     11:00
 21     11:05
 22     11:10
 23     11:15
 24     11:20
 25     11:25
 26     11:30
 27     13:05
 28     13:10
 29     13:15
        ...
 452    11:05
 453    11:10
 454    11:15
 455    11:20
 456    11:25
 457    11:30
 458    13:05
 459    13:10
 460    13:15
 461    13:20
 462    13:25
 463    13:30
 464    13:35
 465    13:40
 466    13:45
 467    13:50
 468    13:55
 469    14:00
 470    14:05
 471    14:10
 472    14:15
 473    14:20
 474    14:25
 475    14:30
 476    14:35
 477    14:40
 478    14:45
 479    14:50
 480    14:55
 481    15:00
 Name: date, Length: 482, dtype: object)

In [24]:
pd_new["date"] = series_date

In [26]:
pd_new["time"] = series_time

In [28]:
pd_new.set_index(["date", "time"])

                   open  close   high    low  volume    code
date       time
2017-09-15 14:50  71.16  71.16  71.16  71.02     4.0  603988
           14:55  71.16  71.04  71.16  71.04     5.0  603988
           15:00  71.04  71.17  71.17  71.04    34.0  603988
2017-09-18 09:35  72.00  71.01  72.00  70.14   108.0  603988
           09:40  71.01  71.11  71.79  71.01    26.0  603988
           09:45  71.11  71.06  71.11  71.06    13.0  603988
           09:50  71.23  71.24  71.71  71.23    11.0  603988
           09:55  71.24  71.24  71.24  71.24     0.0  603988
           10:00  71.24  71.24  71.24  71.24     0.0  603988
           10:05  71.24  71.25  71.25  71.24    10.0  603988
           10:10  71.25  71.26  71.26  71.25    11.0  603988
           10:15  71.26  71.26  71.26  71.26     7.0  603988
           10:20  71.26  71.06  71.26  71.06    11.0  603988
           10:25  71.06  71.06  71.06  71.06    21.0  603988
           10:30  71.06  71.06  71.26  71.06    38.0  603988
           10:35  71.06  71.06  71.06  71.06     0.0  603988
           10:40  71.06  71.06  71.06  71.06    11.0  603988
           10:45  71.06  71.06  71.06  71.00     4.0  603988
           10:50  71.06  71.26  71.30  71.06     2.0  603988
           10:55  71.26  71.26  71.26  71.26     0.0  603988
           11:00  71.26  71.01  71.26  71.01    13.0  603988
           11:05  71.01  71.01  71.01  71.01     2.0  603988
           11:10  71.01  71.01  71.01  71.01     4.0  603988
           11:15  71.01  71.03  71.03  71.01     8.0  603988
           11:20  71.03  71.03  71.03  71.03     0.0  603988
           11:25  71.03  71.03  71.03  71.03     0.0  603988
           11:30  71.03  71.18  71.18  71.03     1.0  603988
           13:05  71.18  71.11  71.18  71.10    26.0  603988
           13:10  71.11  71.11  71.11  71.11     7.0  603988
           13:15  71.11  71.17  71.17  71.11    10.0  603988
...                 ...    ...    ...    ...     ...     ...
2017-09-29 11:05  72.64  72.64  72.66  72.64     4.0  603988
           11:10  72.66  72.53  72.66  72.52    91.0  603988
           11:15  72.53  72.66  72.66  72.51    41.0  603988
           11:20  72.66  72.70  72.70  72.66    17.0  603988
           11:25  72.70  72.70  72.70  72.70     0.0  603988
           11:30  72.70  72.69  72.70  72.69     9.0  603988
           13:05  72.69  72.60  72.70  72.60    37.0  603988
           13:10  72.60  72.60  72.60  72.60     0.0  603988
           13:15  72.60  72.68  72.68  72.56     7.0  603988
           13:20  72.68  72.54  72.69  72.54    54.0  603988
           13:25  72.54  72.54  72.54  72.46    21.0  603988
           13:30  72.54  72.54  72.54  72.54     0.0  603988
           13:35  72.54  72.54  72.54  72.54    10.0  603988
           13:40  72.54  72.56  72.56  72.54    16.0  603988
           13:45  72.56  72.54  72.56  72.54    26.0  603988
           13:50  72.54  72.54  72.54  72.54    30.0  603988
           13:55  72.54  72.47  72.54  72.47    78.0  603988
           14:00  72.47  72.33  72.47  72.33    17.0  603988
           14:05  72.33  72.23  72.33  72.22   130.0  603988
           14:10  72.23  72.32  72.32  72.15    20.0  603988
           14:15  72.32  72.33  72.33  72.15    49.0  603988
           14:20  72.33  72.67  72.67  72.33    10.0  603988
           14:25  72.67  72.68  72.68  72.66    48.0  603988
           14:30  72.68  72.67  72.68  72.67     4.0  603988
           14:35  72.67  72.65  72.67  72.28    16.0  603988
           14:40  72.65  72.60  72.65  72.30    50.0  603988
           14:45  72.60  72.65  72.65  72.34    59.0  603988
           14:50  72.65  72.65  72.67  72.60    19.0  603988
           14:55  72.65  72.65  72.65  72.27    71.0  603988
           15:00  72.65  72.65  72.68  72.32    71.0  603988

[482 rows x 6 columns]

In [44]:
def processDailyData(tu_inputfile="", defined_exportfile=""):
    
    df = pd.read_csv(tu_inputfile)
    if len(df.index) == 0: pass
    
    def splitDate(x):
        return x.split(" ")[0]
    def splitTime(x):
        return x.split(" ")[1]
    
    series_date = df.date.apply(splitDate)
    series_time = df.date.apply(splitTime)
    
    df["date"] = series_date
    df["time"] = series_time
    
    df.set_index(["date", "time"], inplace = True)
    print (df)
    df.to_csv(defined_exportfile)

In [45]:
processDailyData("5min_603988.csv", "5min_603988_new.csv")

                   open  close   high    low  volume    code
date       time
2017-09-15 14:50  71.16  71.16  71.16  71.02     4.0  603988
           14:55  71.16  71.04  71.16  71.04     5.0  603988
           15:00  71.04  71.17  71.17  71.04    34.0  603988
2017-09-18 09:35  72.00  71.01  72.00  70.14   108.0  603988
           09:40  71.01  71.11  71.79  71.01    26.0  603988
           09:45  71.11  71.06  71.11  71.06    13.0  603988
           09:50  71.23  71.24  71.71  71.23    11.0  603988
           09:55  71.24  71.24  71.24  71.24     0.0  603988
           10:00  71.24  71.24  71.24  71.24     0.0  603988
           10:05  71.24  71.25  71.25  71.24    10.0  603988
           10:10  71.25  71.26  71.26  71.25    11.0  603988
           10:15  71.26  71.26  71.26  71.26     7.0  603988
           10:20  71.26  71.06  71.26  71.06    11.0  603988
           10:25  71.06  71.06  71.06  71.06    21.0  603988
           10:30  71.06  71.06  71.26  71.06    38.0  603988
           10:35  71.06  71.06  71.06  71.06     0.0  603988
           10:40  71.06  71.06  71.06  71.06    11.0  603988
           10:45  71.06  71.06  71.06  71.00     4.0  603988
           10:50  71.06  71.26  71.30  71.06     2.0  603988
           10:55  71.26  71.26  71.26  71.26     0.0  603988
           11:00  71.26  71.01  71.26  71.01    13.0  603988
           11:05  71.01  71.01  71.01  71.01     2.0  603988
           11:10  71.01  71.01  71.01  71.01     4.0  603988
           11:15  71.01  71.03  71.03  71.01     8.0  603988
           11:20  71.03  71.03  71.03  71.03     0.0  603988
           11:25  71.03  71.03  71.03  71.03     0.0  603988
           11:30  71.03  71.18  71.18  71.03     1.0  603988
           13:05  71.18  71.11  71.18  71.10    26.0  603988
           13:10  71.11  71.11  71.11  71.11     7.0  603988
           13:15  71.11  71.17  71.17  71.11    10.0  603988
...                 ...    ...    ...    ...     ...     ...
2017-09-29 11:05  72.64  72.64  72.66  72.64     4.0  603988
           11:10  72.66  72.53  72.66  72.52    91.0  603988
           11:15  72.53  72.66  72.66  72.51    41.0  603988
           11:20  72.66  72.70  72.70  72.66    17.0  603988
           11:25  72.70  72.70  72.70  72.70     0.0  603988
           11:30  72.70  72.69  72.70  72.69     9.0  603988
           13:05  72.69  72.60  72.70  72.60    37.0  603988
           13:10  72.60  72.60  72.60  72.60     0.0  603988
           13:15  72.60  72.68  72.68  72.56     7.0  603988
           13:20  72.68  72.54  72.69  72.54    54.0  603988
           13:25  72.54  72.54  72.54  72.46    21.0  603988
           13:30  72.54  72.54  72.54  72.54     0.0  603988
           13:35  72.54  72.54  72.54  72.54    10.0  603988
           13:40  72.54  72.56  72.56  72.54    16.0  603988
           13:45  72.56  72.54  72.56  72.54    26.0  603988
           13:50  72.54  72.54  72.54  72.54    30.0  603988
           13:55  72.54  72.47  72.54  72.47    78.0  603988
           14:00  72.47  72.33  72.47  72.33    17.0  603988
           14:05  72.33  72.23  72.33  72.22   130.0  603988
           14:10  72.23  72.32  72.32  72.15    20.0  603988
           14:15  72.32  72.33  72.33  72.15    49.0  603988
           14:20  72.33  72.67  72.67  72.33    10.0  603988
           14:25  72.67  72.68  72.68  72.66    48.0  603988
           14:30  72.68  72.67  72.68  72.67     4.0  603988
           14:35  72.67  72.65  72.67  72.28    16.0  603988
           14:40  72.65  72.60  72.65  72.30    50.0  603988
           14:45  72.60  72.65  72.65  72.34    59.0  603988
           14:50  72.65  72.65  72.67  72.60    19.0  603988
           14:55  72.65  72.65  72.65  72.27    71.0  603988
           15:00  72.65  72.65  72.68  72.32    71.0  603988

[482 rows x 6 columns]

NameError: name 'df' is not defined

In [48]:
df=pd.read_csv("5min_603988.csv")
df["total"] = (df["high"]+df["low"]+df["open"]+df["close"])*df["volume"]*100/4

In [49]:
df["total"]

0       28450.00
1       35550.00
2      241757.00
3      769905.00
4      185198.00
5       92410.50
6       78487.75
7           0.00
8           0.00
9       71245.00
10      78380.50
11      49882.00
12      78276.00
13     149226.00
14     270218.00
15          0.00
16      78166.00
17      28418.00
18      14234.00
19          0.00
20      92475.50
21      14202.00
22      28404.00
23      56816.00
24          0.00
25          0.00
26       7110.50
27     184970.50
28      49777.00
29      71140.00
         ...
452     29058.00
453    660591.75
454    297619.00
455    123556.00
456         0.00
457     65425.50
458    268795.75
459         0.00
460     50841.00
461    392107.50
462    152292.00
463         0.00
464     72540.00
465    116080.00
466    188630.00
467    217620.00
468    565539.00
469    123080.00
470    939607.50
471    144510.00
472    354184.25
473     72500.00
474    348828.00
475     29070.00
476    116108.00
477    362750.00
478    428104.00
479    138020.75
480    515140.50
481    515282.50
Name: total, Length: 482, dtype: float64

In [50]:
del df["code"]

In [51]:
df

                 date   open  close   high    low  volume      total
0    2017-09-15 14:50  71.16  71.16  71.16  71.02     4.0   28450.00
1    2017-09-15 14:55  71.16  71.04  71.16  71.04     5.0   35550.00
2    2017-09-15 15:00  71.04  71.17  71.17  71.04    34.0  241757.00
3    2017-09-18 09:35  72.00  71.01  72.00  70.14   108.0  769905.00
4    2017-09-18 09:40  71.01  71.11  71.79  71.01    26.0  185198.00
5    2017-09-18 09:45  71.11  71.06  71.11  71.06    13.0   92410.50
6    2017-09-18 09:50  71.23  71.24  71.71  71.23    11.0   78487.75
7    2017-09-18 09:55  71.24  71.24  71.24  71.24     0.0       0.00
8    2017-09-18 10:00  71.24  71.24  71.24  71.24     0.0       0.00
9    2017-09-18 10:05  71.24  71.25  71.25  71.24    10.0   71245.00
10   2017-09-18 10:10  71.25  71.26  71.26  71.25    11.0   78380.50
11   2017-09-18 10:15  71.26  71.26  71.26  71.26     7.0   49882.00
12   2017-09-18 10:20  71.26  71.06  71.26  71.06    11.0   78276.00
13   2017-09-18 10:25  71.06  71.06  71.06  71.06    21.0  149226.00
14   2017-09-18 10:30  71.06  71.06  71.26  71.06    38.0  270218.00
15   2017-09-18 10:35  71.06  71.06  71.06  71.06     0.0       0.00
16   2017-09-18 10:40  71.06  71.06  71.06  71.06    11.0   78166.00
17   2017-09-18 10:45  71.06  71.06  71.06  71.00     4.0   28418.00
18   2017-09-18 10:50  71.06  71.26  71.30  71.06     2.0   14234.00
19   2017-09-18 10:55  71.26  71.26  71.26  71.26     0.0       0.00
20   2017-09-18 11:00  71.26  71.01  71.26  71.01    13.0   92475.50
21   2017-09-18 11:05  71.01  71.01  71.01  71.01     2.0   14202.00
22   2017-09-18 11:10  71.01  71.01  71.01  71.01     4.0   28404.00
23   2017-09-18 11:15  71.01  71.03  71.03  71.01     8.0   56816.00
24   2017-09-18 11:20  71.03  71.03  71.03  71.03     0.0       0.00
25   2017-09-18 11:25  71.03  71.03  71.03  71.03     0.0       0.00
26   2017-09-18 11:30  71.03  71.18  71.18  71.03     1.0    7110.50
27   2017-09-18 13:05  71.18  71.11  71.18  71.10    26.0  184970.50
28   2017-09-18 13:10  71.11  71.11  71.11  71.11     7.0   49777.00
29   2017-09-18 13:15  71.11  71.17  71.17  71.11    10.0   71140.00
..                ...    ...    ...    ...    ...     ...        ...
452  2017-09-29 11:05  72.64  72.64  72.66  72.64     4.0   29058.00
453  2017-09-29 11:10  72.66  72.53  72.66  72.52    91.0  660591.75
454  2017-09-29 11:15  72.53  72.66  72.66  72.51    41.0  297619.00
455  2017-09-29 11:20  72.66  72.70  72.70  72.66    17.0  123556.00
456  2017-09-29 11:25  72.70  72.70  72.70  72.70     0.0       0.00
457  2017-09-29 11:30  72.70  72.69  72.70  72.69     9.0   65425.50
458  2017-09-29 13:05  72.69  72.60  72.70  72.60    37.0  268795.75
459  2017-09-29 13:10  72.60  72.60  72.60  72.60     0.0       0.00
460  2017-09-29 13:15  72.60  72.68  72.68  72.56     7.0   50841.00
461  2017-09-29 13:20  72.68  72.54  72.69  72.54    54.0  392107.50
462  2017-09-29 13:25  72.54  72.54  72.54  72.46    21.0  152292.00
463  2017-09-29 13:30  72.54  72.54  72.54  72.54     0.0       0.00
464  2017-09-29 13:35  72.54  72.54  72.54  72.54    10.0   72540.00
465  2017-09-29 13:40  72.54  72.56  72.56  72.54    16.0  116080.00
466  2017-09-29 13:45  72.56  72.54  72.56  72.54    26.0  188630.00
467  2017-09-29 13:50  72.54  72.54  72.54  72.54    30.0  217620.00
468  2017-09-29 13:55  72.54  72.47  72.54  72.47    78.0  565539.00
469  2017-09-29 14:00  72.47  72.33  72.47  72.33    17.0  123080.00
470  2017-09-29 14:05  72.33  72.23  72.33  72.22   130.0  939607.50
471  2017-09-29 14:10  72.23  72.32  72.32  72.15    20.0  144510.00
472  2017-09-29 14:15  72.32  72.33  72.33  72.15    49.0  354184.25
473  2017-09-29 14:20  72.33  72.67  72.67  72.33    10.0   72500.00
474  2017-09-29 14:25  72.67  72.68  72.68  72.66    48.0  348828.00
475  2017-09-29 14:30  72.68  72.67  72.68  72.67     4.0   29070.00
476  2017-09-29 14:35  72.67  72.65  72.67  72.28    16.0  116108.00
477  2017-09-29 14:40  72.65  72.60  72.65  72.30    50.0  362750.00
478  2017-09-29 14:45  72.60  72.65  72.65  72.34    59.0  428104.00
479  2017-09-29 14:50  72.65  72.65  72.67  72.60    19.0  138020.75
480  2017-09-29 14:55  72.65  72.65  72.65  72.27    71.0  515140.50
481  2017-09-29 15:00  72.65  72.65  72.68  72.32    71.0  515282.50

[482 rows x 7 columns]

In [53]:
df.columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [54]:
df

                    a      b      c      d      e      f          g
0    2017-09-15 14:50  71.16  71.16  71.16  71.02    4.0   28450.00
1    2017-09-15 14:55  71.16  71.04  71.16  71.04    5.0   35550.00
2    2017-09-15 15:00  71.04  71.17  71.17  71.04   34.0  241757.00
3    2017-09-18 09:35  72.00  71.01  72.00  70.14  108.0  769905.00
4    2017-09-18 09:40  71.01  71.11  71.79  71.01   26.0  185198.00
5    2017-09-18 09:45  71.11  71.06  71.11  71.06   13.0   92410.50
6    2017-09-18 09:50  71.23  71.24  71.71  71.23   11.0   78487.75
7    2017-09-18 09:55  71.24  71.24  71.24  71.24    0.0       0.00
8    2017-09-18 10:00  71.24  71.24  71.24  71.24    0.0       0.00
9    2017-09-18 10:05  71.24  71.25  71.25  71.24   10.0   71245.00
10   2017-09-18 10:10  71.25  71.26  71.26  71.25   11.0   78380.50
11   2017-09-18 10:15  71.26  71.26  71.26  71.26    7.0   49882.00
12   2017-09-18 10:20  71.26  71.06  71.26  71.06   11.0   78276.00
13   2017-09-18 10:25  71.06  71.06  71.06  71.06   21.0  149226.00
14   2017-09-18 10:30  71.06  71.06  71.26  71.06   38.0  270218.00
15   2017-09-18 10:35  71.06  71.06  71.06  71.06    0.0       0.00
16   2017-09-18 10:40  71.06  71.06  71.06  71.06   11.0   78166.00
17   2017-09-18 10:45  71.06  71.06  71.06  71.00    4.0   28418.00
18   2017-09-18 10:50  71.06  71.26  71.30  71.06    2.0   14234.00
19   2017-09-18 10:55  71.26  71.26  71.26  71.26    0.0       0.00
20   2017-09-18 11:00  71.26  71.01  71.26  71.01   13.0   92475.50
21   2017-09-18 11:05  71.01  71.01  71.01  71.01    2.0   14202.00
22   2017-09-18 11:10  71.01  71.01  71.01  71.01    4.0   28404.00
23   2017-09-18 11:15  71.01  71.03  71.03  71.01    8.0   56816.00
24   2017-09-18 11:20  71.03  71.03  71.03  71.03    0.0       0.00
25   2017-09-18 11:25  71.03  71.03  71.03  71.03    0.0       0.00
26   2017-09-18 11:30  71.03  71.18  71.18  71.03    1.0    7110.50
27   2017-09-18 13:05  71.18  71.11  71.18  71.10   26.0  184970.50
28   2017-09-18 13:10  71.11  71.11  71.11  71.11    7.0   49777.00
29   2017-09-18 13:15  71.11  71.17  71.17  71.11   10.0   71140.00
..                ...    ...    ...    ...    ...    ...        ...
452  2017-09-29 11:05  72.64  72.64  72.66  72.64    4.0   29058.00
453  2017-09-29 11:10  72.66  72.53  72.66  72.52   91.0  660591.75
454  2017-09-29 11:15  72.53  72.66  72.66  72.51   41.0  297619.00
455  2017-09-29 11:20  72.66  72.70  72.70  72.66   17.0  123556.00
456  2017-09-29 11:25  72.70  72.70  72.70  72.70    0.0       0.00
457  2017-09-29 11:30  72.70  72.69  72.70  72.69    9.0   65425.50
458  2017-09-29 13:05  72.69  72.60  72.70  72.60   37.0  268795.75
459  2017-09-29 13:10  72.60  72.60  72.60  72.60    0.0       0.00
460  2017-09-29 13:15  72.60  72.68  72.68  72.56    7.0   50841.00
461  2017-09-29 13:20  72.68  72.54  72.69  72.54   54.0  392107.50
462  2017-09-29 13:25  72.54  72.54  72.54  72.46   21.0  152292.00
463  2017-09-29 13:30  72.54  72.54  72.54  72.54    0.0       0.00
464  2017-09-29 13:35  72.54  72.54  72.54  72.54   10.0   72540.00
465  2017-09-29 13:40  72.54  72.56  72.56  72.54   16.0  116080.00
466  2017-09-29 13:45  72.56  72.54  72.56  72.54   26.0  188630.00
467  2017-09-29 13:50  72.54  72.54  72.54  72.54   30.0  217620.00
468  2017-09-29 13:55  72.54  72.47  72.54  72.47   78.0  565539.00
469  2017-09-29 14:00  72.47  72.33  72.47  72.33   17.0  123080.00
470  2017-09-29 14:05  72.33  72.23  72.33  72.22  130.0  939607.50
471  2017-09-29 14:10  72.23  72.32  72.32  72.15   20.0  144510.00
472  2017-09-29 14:15  72.32  72.33  72.33  72.15   49.0  354184.25
473  2017-09-29 14:20  72.33  72.67  72.67  72.33   10.0   72500.00
474  2017-09-29 14:25  72.67  72.68  72.68  72.66   48.0  348828.00
475  2017-09-29 14:30  72.68  72.67  72.68  72.67    4.0   29070.00
476  2017-09-29 14:35  72.67  72.65  72.67  72.28   16.0  116108.00
477  2017-09-29 14:40  72.65  72.60  72.65  72.30   50.0  362750.00
478  2017-09-29 14:45  72.60  72.65  72.65  72.34   59.0  428104.00
479  2017-09-29 14:50  72.65  72.65  72.67  72.60   19.0  138020.75
480  2017-09-29 14:55  72.65  72.65  72.65  72.27   71.0  515140.50
481  2017-09-29 15:00  72.65  72.65  72.68  72.32   71.0  515282.50

[482 rows x 7 columns]

In [55]:
import json

In [56]:
import pandas as pd
import tushare as ts
import os
import time
import threadpool

In [59]:
stock_basics = ts.get_stock_basics()
code_series = list(stock_basics.index)

In [60]:
with open('stock_list.json', 'w', encoding='utf-8') as f:
    json.dump(code_series, f)

with open('stock_list.json', encoding='utf-8') as f:
    obj = json.load(f)
    print(obj)

['601086', '000301', '002607', '000572', '600618', '300019', '000916', '600418', '300359', '002902', '300654', '300552', '603106', '300275', '603363', '603963', '603559', '300585', '300700', '002264', '002765', '300505', '300649', '300500', '603367', '600774', '603378', '603501', '603136', '300340', '603881', '603366', '600584', '600191', '300209', '002662', '002315', '002148', '000829', '603813', '603602', '300635', '300675', '300570', '300380', '300399', '300706', '002901', '300245', '002893', '300020', '603157', '300398', '000868', '002467', '600776', '002115', '600581', '300177', '600460', '300645', '300130', '000800', '002856', '002405', '002798', '002853', '000725', '300377', '300373', '002484', '002032', '000662', '300461', '600172', '600213', '002362', '600588', '000786', '300203', '600382', '600609', '002398', '600438', '600446', '300142', '000513', '000899', '002660', '600179', '000550', '002821', '000921', '002655', '000546', '000063', '002369', '002722', '002429', '300666', '300202', '002703', '002107', '002169', '600699', '300688', '300613', '002024', '300112', '002713', '000635', '300017', '002881', '300128', '002594', '002019', '002249', '300556', '000670', '600571', '600486', '002035', '000333', '000779', '002183', '600337', '600804', '002009', '300441', '002251', '300566', '600228', '000968', '300350', '000671', '000818', '000050', '000913', '600566', '600242', '000596', '002351', '000930', '600353', '002508', '600006', '600797', '002281', '300229', '300162', '000016', '002253', '300418', '000100', '300127', '002583', '002604', '002196', '600773', '300520', '300685', '300304', '600597', '002745', '600400', '300170', '300234', '002789', '600552', '600641', '002423', '000505', '300386', '300221', '300197', '002623', '002284', '300511', '600166', '002865', '600604', '300081', '600771', '600345', '300305', '002823', '002596', '000980', '300191', '002656', '600176', '300365', '300118', '002401', '300231', '002813', '000666', '300510', '300296', '600633', '300141', '002176', '002145', '002642', '002055', '002161', '600226', '600587', '600449', '002088', '300604', '300487', '000988', '600499', '300097', '600120', '600303', '600363', '300464', '300522', '002488', '002857', '002681', '300496', '002120', '300050', '002446', '300598', '300078', '300400', '300256', '000697', '600329', '002119', '002588', '300445', '002353', '000426', '000735', '600125', '300333', '002346', '300465', '300571', '002605', '300024', '300364', '300543', '002424', '002387', '002579', '600104', '002803', '002732', '002416', '002799', '300168', '300502', '002590', '600596', '300662', '002448', '002412', '300175', '002632', '300391', '600598', '300322', '002529', '002458', '600201', '000625', '600755', '002104', '002231', '002567', '600276', '002079', '300084', '300369', '300047', '600651', '300451', '600679', '002766', '600686', '002708', '600332', '600330', '300638', '300219', '600570', '300014', '002626', '300643', '300388', '000603', '300458', '300153', '300479', '002564', '000651', '002165', '002331', '000536', '300367', '002643', '002052', '600251', '000886', '002859', '002185', '002195', '002028', '600388', '000938', '600380', '002747', '002230', '002639', '600704', '002507', '300151', '002153', '002286', '600020', '002354', '002202', '002027', '000554', '300348', '000681', '002091', '002045', '002518', '300699', '300054', '002238', '000418', '300139', '300383', '002328', '600701', '002109', '000910', '300363', '000157', '300562', '002657', '600275', '002372', '002628', '002038', '300347', '300679', '000792', '300253', '300058', '000727', '300335', '002852', '300625', '600285', '300534', '600490', '002159', '000537', '002368', '300148', '600707', '000021', '002818', '600671', '000997', '000636', '002843', '002771', '002350', '002180', '002292', '600133', '600653', '600229', '300072', '002447', '600830', '002273', '600178', '300526', '000762', '600383', '002690', '002573', '300241', '002593', '000627', '000807', '002444', '300517', '000639', '600180', '000065', '300678', '300178', '600624', '600232', '300102', '000985', '600462', '002239', '002846', '600298', '002388', '600787', '002379', '600073', '002568', '300356', '600536', '600601', '300548', '002742', '300506', '600066', '600112', '002528', '600742', '002474', '600199', '300319', '600216', '002882', '600448', '002714', '002820', '002313', '300430', '002106', '600267', '002589', '300449', '600260', '600738', '002841', '002786', '300507', '002653', '002556', '002677', '002783', '000676', '300412', '300408', '600535', '002386', '600491', '002769', '600720', '300586', '600560', '300582', '600375', '002896', '002303', '002587', '002175', '600071', '002011', '600592', '300673', '002763', '300527', '002355', '300584', '000632', '000581', '000881', '002232', '300470', '300338', '002796', '002753', '002430', '600497', '600716', '300286', '000756', '002136', '300655', '002432', '002577', '300066', '300235', '300417', '300558', '300313', '002116', '600555', '000821', '000977', '600371', '002570', '000932', '002330', '000901', '300244', '600336', '300611', '300276', '000905', '300293', '002126', '002320', '002869', '600385', '600323', '002098', '002236', '000858', '300169', '300354', '000869', '600502', '002599', '300396', '600231', '300010', '000036', '600039', '300188', '000683', '000011', '002121', '300161', '600660', '600113', '600498', '300514', '002664', '000544', '002558', '300003', '300240', '600537', '600526', '000957', '600081', '600291', '002509', '600756', '300486', '300002', '300696', '300378', '000009', '002138', '002014', '000751', '002051', '000733', '000822', '002234', '002777', '000066', '300228', '600665', '600373', '002378', '002016', '002479', '002839', '300124', '600036', '300551', '002879', '000928', '600782', '600035', '300531', '000060', '002275', '002702', '002044', '600240', '300265', '300640', '002791', '600500', '002279', '600197', '600662', '300561', '000960', '002768', '002761', '600326', '600156', '000400', '600470', '002258', '300068', '002640', '300079', '600196', '000690', '000593', '600463', '300216', '002654', '300056', '002885', '002101', '300025', '300489', '000760', '000058', '002470', '000589', '300553', '300302', '002851', '002767', '300063', '300339', '002142', '002492', '002440', '300023', '600519', '300440', '002819', '300693', '600810', '600580', '600785', '300328', '002332', '300499', '600728', '600503', '300619', '002433', '600805', '000156', '002047', '000657', '300044', '000877', '002452', '000022', '600794', '300680', '600309', '600038', '300297', '002685', '000528', '300508', '000609', '600735', '600237', '300051', '600017', '300443', '300032', '600128', '300535', '002157', '600718', '300220', '000626', '300269', '600801', '300143', '300120', '300689', '000020', '600283', '600333', '300052', '600444', '002828', '002177', '000970', '300457', '002526', '300106', '300681', '300387', '002463', '002370', '300453', '600033', '300215', '001979', '000423', '300088', '002007', '300608', '002190', '300232', '000530', '300329', '300656', '600603', '600836', '002805', '300198', '300213', '000090', '600594', '300539', '002872', '002200', '002135', '002114', '002682', '600198', '002522', '600114', '002156', '002826', '300405', '000971', '002414', '000559', '600826', '600068', '002182', '002295', '002363', '600091', '600690', '002454', '000915', '000001', '300349', '000523', '600610', '002223', '002296', '002456', '300682', '002527', '600572', '300288', '600476', '600784', '600737', '600467', '600108', '000055', '300214', '300037', '002802', '002825', '000887', '600270', '002729', '002087', '002428', '000526', '300180', '300271', '600107', '002831', '002557', '000739', '300133', '002743', '300546', '600171', '002559', '600527', '600139', '000545', '000673', '600706', '600192', '600078', '000425', '300497', '002318', '300094', '300126', '002219', '600037', '300201', '300119', '300375', '600730', '002746', '000510', '300223', '300086', '300049', '300370', '600767', '002407', '002105', '600606', '002073', '300593', '000959', '002679', '300255', '002255', '002184', '000811', '002280', '600761', '300498', '300495', '300101', '000859', '300493', '002267', '600031', '001896', '600811', '600183', '002436', '002755', '000777', '600635', '300262', '002610', '600713', '300105', '300434', '000595', '000795', '300352', '000078', '300311', '600266', '600361', '000004', '600354', '600009', '000880', '600223', '002778', '600729', '002758', '300059', '300595', '002348', '600165', '600015', '300337', '000158', '300415', '300028', '002476', '002892', '300501', '600831', '002815', '000736', '600736', '002624', '600638', '300519', '002270', '002160', '300692', '000039', '300131', '002832', '002103', '300683', '600368', '600386', '000758', '300073', '600100', '600727', '300315', '000837', '002574', '002634', '000069', '002023', '002017', '002325', '300307', '300273', '002399', '600652', '600406', '300111', '600640', '600509', '002030', '000707', '300652', '300419', '000587', '300233', '300475', '600366', '002838', '002274', '000897', '300442', '000732', '002048', '002450', '002455', '300631', '000819', '300670', '002730', '300480', '600075', '000987', '002380', '002752', '002063', '000826', '000902', '000708', '000851', '300316', '002268', '002130', '002166', '002477', '300217', '300205', '300490', '002108', '002487', '300136', '002534', '300323', '300409', '300481', '000422', '600048', '600710', '300224', '002225', '002601', '600623', '002890', '002344', '300289', '600063', '300264', '002437', '300248', '600082', '002666', '300012', '000955', '002395', '300242', '300243', '002891', '300029', '600106', '300082', '002774', '002741', '300606', '300279', '002066', '002845', '600678', '600000', '000761', '002807', '300358', '002420', '600803', '002615', '600360', '000682', '002441', '300147', '600694', '600327', '300503', '002276', '002229', '600143', '300011', '300036', '002581', '000404', '002094', '002137', '002095', '600576', '300518', '000551', '002031', '000619', '600169', '000990', '000525', '000961', '300368', '300509', '000531', '600271', '300512', '002549', '000700', '002480', '600057', '002293', '000716', '300549', '600026', '002140', '000830', '300239', '002585', '002678', '000920', '600796', '002554', '000030', '002543', '600016', '600689', '600562', '000729', '600311', '002500', '002083', '600058', '002254', '300537', '002701', '000933', '300246', '002349', '600565', '002689', '002551', '000922', '300532', '002204', '300309', '000892', '000529', '000598', '002698', '300332', '300114', '600777', '600235', '002481', '300473', '600798', '300005', '002406', '002082', '600387', '300095', '300494', '002262', '300468', '000521', '600590', '300303', '000565', '600696', '600676', '000972', '600398', '002721', '600256', '600763', '600056', '300657', '000976', '600819', '600515', '300204', '300194', '300107', '002081', '600510', '002042', '002785', '000573', '002513', '600325', '600117', '002748', '600595', '002438', '600435', '600828', '002824', '002002', '002026', '600379', '600252', '000801', '002506', '600768', '600292', '002790', '002203', '000785', '600647', '002111', '600265', '000996', '600692', '002855', '002127', '000563', '600480', '300196', '600650', '000917', '600185', '300185', '000025', '002586', '600487', '600190', '300259', '600269', '600466', '600220', '002663', '600397', '600657', '600222', '600293', '000023', '000860', '300039', '600320', '600187', '000753', '600182', '002178', '600816', '000026', '002482', '002724', '002731', '600758', '300179', '300691', '600602', '002181', '000059', '300075', '002302', '300351', '300218', '300195', '600721', '300488', '300184', '000966', '300159', '002061', '300181', '300617', '002269', '000558', '600613', '300238', '002535', '600643', '600511', '002074', '002511', '002860', '002361', '002339', '002283', '002469', '600790', '002793', '600629', '002266', '000698', '600523', '000993', '000514', '002552', '300125', '600151', '600789', '002029', '600557', '300093', '002237', '002809', '600744', '002404', '002144', '600628', '300260', '300686', '002338', '002688', '600620', '600359', '002539', '002272', '600815', '002096', '002584', '002453', '300043', '000890', '600615', '600116', '300074', '002636', '600168', '002800', '300669', '600351', '002532', '002461', '002578', '002462', '000656', '600506', '002400', '000883', '600748', '600458', '002862', '002478', '300523', '002218', '000153', '000788', '300061', '000936', '000848', '600517', '300650', '000918', '002212', '300448', '002537', '002242', '300150', '002364', '002100', '000833', '000413', '000752', '600300', '600346', '000948', '300677', '002645', '300427', '600097', '600605', '002505', '002829', '300062', '000012', '600770', '000713', '002734', '000919', '300423', '300538', '002705', '300013', '600119', '002124', '000731', '002317', '600019', '002873', '002810', '600067', '000517', '002696', '600505', '300402', '000967', '002751', '600600', '300132', '002403', '000809', '600722', '300317', '600200', '000564', '600280', '600158', '600208', '300439', '000789', '600507', '002836', '600508', '000408', '002877', '002648', '600827', '300660', '600064', '002290', '002497', '002311', '600488', '000963', '300158', '300268', '002307', '002128', '300575', '002614', '002133', '600622', '002197', '600090', '000088', '300536', '002875', '000415', '600096', '600322', '002889', '000543', '300690', '002516', '002659', '002667', '600461', '600218', '300344', '002152', '300135', '002039', '000159', '002037', '000416', '600416', '300016', '002565', '000667', '002065', '002150', '000018', '600741', '002155', '002118', '000008', '300113', '002770', '002762', '000906', '600516', '300483', '300366', '000680', '600421', '600163', '600483', '600529', '600317', '000637', '300007', '002863', '002521', '002451', '002207', '300382', '600684', '000909', '300460', '600800', '000719', '000999', '600153', '300283', '600626', '000420', '000912', '600731', '002068', '000717', '000750', '000582', '600007', '002299', '002300', '600070', '002040', '000586', '300353', '300308', '000835', '600288', '000981', '000620', '600365', '002222', '002649', '600549', '600636', '300212', '600321', '000002', '600217', '600708', '300067', '002491', '300154', '600668', '300069', '600714', '300521', '002003', '300403', '002233', '300515', '002158', '000655', '600059', '300591', '000591', '002712', '002298', '600583', '000952', '600089', '600022', '002310', '002125', '300053', '600062', '000782', '300031', '002221', '002393', '300030', '300450', '000839', '000623', '300607', '300444', '002217', '002668', '300452', '002817', '600135', '300615', '300583', '000793', '002695', '300087', '300155', '002069', '002154', '000056', '300599', '300435', '000652', '000516', '600538', '600268', '600405', '000502', '300070', '002465', '002591', '000541', '300588', '002772', '002046', '000539', '300138', '600409', '600545', '600396', '002208', '000520', '600717', '300587', '300200', '000548', '000049', '300541', '000668', '600302', '000524', '300547', '600747', '600284', '600310', '002503', '600295', '600195', '600428', '002367', '000973', '000852', '600823', '000831', '600611', '600479', '600186', '000969', '000685', '600010', '002572', '002561', '000810', '600160', '600561', '002056', '000885', '300360', '002468', '002146', '000937', '600578', '300157', '600095', '002711', '002396', '002895', '600262', '600241', '002553', '002787', '300230', '600732', '300189', '002644', '002617', '600079', '300636', '000419', '600177', '000553', '300596', '300667', '600835', '000597', '000672', '000070', '600834', '002673', '600478', '002775', '000711', '002884', '600290', '000929', '000812', '600726', '300077', '002309', '002340', '002419', '000507', '600543', '002041', '000815', '300647', '600369', '600077', '300183', '300026', '300345', '600705', '000650', '600352', '600027', '002162', '300639', '000686', '300630', '300149', '600401', '002319', '600630', '002555', '600475', '300064', '300254', '600802', '000630', '000900', '002131', '000616', '300206', '002878', '600069', '002550', '002773', '002327', '002004', '002546', '000798', '002117', '002706', '002531', '300282', '300190', '002228', '002376', '002287', '600661', '000151', '300171', '000778', '600765', '600159', '300172', '600131', '600410', '002868', '300540', '002562', '002779', '002489', '300432', '300278', '000027', '300294', '600287', '002833', '002533', '000783', '000046', '002164', '002603', '002466', '300569', '300428', '600649', '300071', '600481', '000498', '002243', '600795', '000607', '600243', '600318', '300420', '600822', '600356', '600399', '300474', '300676', '000005', '600099', '600312', '002598', '600279', '600115', '002282', '300589', '600136', '600130', '002206', '002216', '000722', '002631', '600586', '002235', '600528', '002397', '002211', '002674', '600161', '000951', '300341', '000767', '300160', '002691', '600155', '600189', '000780', '000850', '000037', '000421', '002358', '000702', '600807', '600495', '002693', '300207', '000882', '600501', '000028', '002064', '600489', '600712', '600162', '000715', '002675', '300557', '600157', '600589', '600739', '002580', '000571', '600098', '000718', '000876', '300295', '002498', '000861', '002443', '000014', '002371', '000338', '300287', '002861', '300485', '000032', '600674', '600308', '600425', '000557', '000776', '300237', '002541', '300665', '600272', '600193', '600667', '002172', '600170', '300379', '600757', '002062', '600812', '600532', '600306', '600820', '000166', '300661', '000911', '002883', '600520', '002736', '600377', '000813', '600619', '600697', '000726', '000665', '000975', '600313', '000631', '600238', '000568', '600230', '600750', '600493', '002224', '600533', '002402', '600372', '000402', '600663', '600433', '300325', '002246', '600814', '000791', '600531', '002021', '300472', '300659', '600833', '600408', '000612', '600743', '002122', '002618', '300516', '600316', '600577', '002008', '002460', '002084', '000823', '300083', '002597', '600376', '300530', '600173', '300314', '002248', '000949', '002495', '600637', '600617', '002502', '300411', '002646', '000669', '002524', '600724', '002245', '600393', '000692', '300491', '600338', '600415', '002651', '300006', '000965', '600367', '000570', '300021', '002384', '300395', '002512', '600547', '600126', '300374', '000878', '600621', '600103', '300122', '002540', '600512', '600702', '000409', '600644', '000518', '002408', '002415', '002278', '002089', '300045', '300637', '300626', '002357', '300346', '000931', '002198', '000825', '000958', '000628', '002737', '300407', '300300', '000705', '300137', '000017', '600101', '002616', '600740', '002321', '002213', '000712', '600023', '000010', '300018', '600395', '002025', '002887', '002360', '002220', '002501', '002472', '600127', '600616', '000411', '600769', '600029', '002822', '002627', '002670', '600482', '002093', '000096', '002867', '002548', '600824', '002352', '002718', '000061', '600648', '002475', '002054', '002252', '600642', '002173', '600203', '600775', '600783', '300695', '300621', '002314', '002385', '002365', '600259', '600455', '002494', '300041', '300225', '002759', '002186', '002449', '600548', '300226', '002483', '002377', '600221', '600004', '300321', '300330', '002459', '002493', '000042', '300292', '002715', '002381', '002291', '002431', '600211', '002888', '000983', '002022', '002174', '600573', '600011', '002530', '000923', '300371', '002545', '000728', '002010', '002439', '600837', '300336', '000908', '600021', '300550', '300406', '000601', '600420', '300210', '002658', '002801', '000600', '000659', '600703', '300663', '600109', '002323', '600746', '600080', '002187', '600219', '600093', '000552', '000903', '002060', '600436', '002390', '000617', '300357', '300390', '300355', '002336', '002735', '600012', '000709', '002671', '300193', '600575', '000410', '002602', '002538', '600521', '002613', '600808', '300192', '002514', '600522', '000538', '000428', '600698', '002717', '002445', '002692',

In [63]:
len(obj)

3404

In [66]:
stock_basics.to_json("stock_basics.json")

In [67]:
stock_basics = pd.read_json("stock_basics.json")

In [70]:
filename="stock_basics.json.json"
filename.split(".")[:-1]

['stock_basics', 'json']

In [72]:
date_postfix = "0000"
filename = ".".join([".".join(filename.split(".")[:-1])+date_postfix, filename.split(".")[-1]])

In [73]:
filename

'stock_basics.json0000.json'

In [74]:
date_postfix = "_"+time.strftime("%Y%m%d")

In [75]:
filename = ".".join([".".join(filename.split(".")[:-1])+date_postfix, filename.split(".")[-1]])

In [76]:
filename

'stock_basics.json0000_20171010.json'

In [91]:
df = ts.get_k_data("300191")

In [102]:
df["main"]="000111"
df["high"].tolist()

[22.465,
 22.425,
 22.845,
 23.165,
 23.125,
 22.865,
 23.244,
 23.564,
 23.364,
 22.875,
 21.846,
 21.926,
 22.425,
 24.064,
 23.374,
 23.254,
 22.076,
 21.337,
 21.337,
 21.776,
 21.756,
 21.826,
 21.446,
 21.217,
 20.947,
 20.438,
 18.53,
 18.26,
 18.47,
 18.03,
 17.76,
 16.842,
 16.842,
 17.301,
 17.581,
 17.481,
 19.009,
 19.009,
 18.48,
 18.43,
 19.159,
 19.159,
 19.079,
 19.878,
 20.178,
 20.497,
 20.907,
 21.307,
 20.458,
 20.138,
 20.228,
 20.158,
 19.778,
 19.608,
 21.177,
 21.347,
 20.428,
 20.657,
 20.817,
 20.358,
 20.917,
 21.077,
 21.906,
 21.996,
 21.896,
 21.616,
 21.556,
 21.866,
 22.835,
 22.156,
 21.806,
 21.846,
 21.137,
 20.378,
 20.717,
 20.607,
 20.438,
 20.607,
 20.947,
 21.377,
 23.165,
 22.905,
 23.035,
 23.834,
 24.393,
 23.654,
 25.512,
 28.019,
 26.691,
 25.772,
 25.792,
 26.471,
 26.231,
 26.671,
 26.86,
 24.733,
 24.963,
 26.071,
 26.241,
 26.94,
 26.92,
 27.67,
 25.772,
 25.462,
 25.961,
 26.96,
 27.58,
 28.898,
 26.741,
 26.071,
 26.451,
 26.811,
 27.909,
 28.659,
 26.741,
 25.922,
 27.21,
 27.769,
 30.057,
 32.954,
 33.953,
 32.964,
 33.663,
 33.233,
 32.464,
 32.954,
 32.564,
 34.612,
 37.039,
 36.56,
 32.854,
 32.454,
 33.813,
 35.002,
 34.712,
 35.161,
 37.239,
 37.259,
 37.758,
 39.586,
 41.255,
 41.454,
 36.959,
 36.7,
 37.459,
 33.164,
 32.344,
 32.764,
 32.564,
 28.878,
 27.581,
 25.452,
 25.782,
 22.574,
 20.835,
 19.786,
 14.97,
 13.97,
 14.57,
 16.029,
 17.628,
 19.386,
 21.325,
 23.454,
 25.802,
 28.38,
 31.218,
 34.336,
 37.774,
 41.551,
 45.708,
 49.965,
 43.739,
 45.818,
 46.487,
 51.134,
 39.572,
 41.471,
 39.432,
 42.54,
 40.722,
 41.171,
 40.472,
 42.89,
 47.177,
 48.766,
 44.569,
 44.849,
 40.971,
 40.072,
 42.97,
 40.752,
 41.651,
 43.02,
 43.929,
 46.358,
 50.994,
 51.964,
 43.969,
 45.438,
 48.166,
 43.769,
 44.749,
 43.689,
 42.47,
 42.46,
 44.169,
 46.667,
 46.827,
 46.517,
 48.816,
 53.543,
 55.401,
 60.937,
 53.892,
 52.443,
 50.465,
 48.446,
 48.146,
 48.466,
 43.959,
 38.873,
 40.672,
 38.863,
 38.673,
 36.954,
 35.345,
 34.876,
 32.367,
 31.978,
 32.078,
 33.337,
 36.455,
 33.966,
 32.797,
 35.285,
 36.984,
 36.385,
 38.153,
 36.774,
 34.366,
 33.776,
 34.476,
 35.335,
 34.546,
 32.627,
 35.225,
 36.844,
 37.634,
 35.725,
 36.774,
 38.163,
 38.193,
 36.974,
 34.176,
 32.178,
 28.83,
 30.249,
 30.579,
 28.79,
 27.811,
 29.529,
 30.778,
 29.879,
 27.551,
 28.97,
 29.479,
 28.82,
 28.98,
 31.078,
 32.227,
 31.798,
 31.708,
 32.477,
 30.968,
 31.208,
 30.469,
 30.179,
 31.298,
 30.309,
 30.958,
 31.828,
 31.758,
 29.779,
 30.679,
 31.328,
 33.896,
 35.185,
 33.277,
 31.368,
 31.528,
 31.758,
 29.929,
 29.779,
 29.439,
 29.369,
 30.229,
 30.179,
 29.328,
 29.918,
 30.958,
 30.518,
 30.258,
 28.579,
 27.069,
 27.389,
 26.389,
 26.24,
 25.74,
 28.319,
 28.089,
 27.189,
 26.769,
 27.239,
 27.089,
 27.269,
 28.389,
 27.179,
 26.479,
 27.439,
 28.918,
 27.939,
 29.068,
 28.679,
 28.928,
 31.218,
 34.336,
 37.775,
 41.553,
 45.712,
 47.971,
 44.282,
 47.521,
 46.411,
 45.172,
 47.531,
 43.383,
 41.134,
 41.653,
 40.584,
 40.534,
 41.184,
 41.483,
 42.693,
 41.284,
 39.774,
 38.944,
 39.084,
 39.024,
 34.726,
 35.456,
 35.166,
 35.166,
 34.906,
 38.395,
 36.495,
 36.865,
 38.335,
 37.565,
 37.645,
 37.435,
 38.275,
 40.334,
 39.354,
 39.864,
 42.123,
 38.585,
 37.635,
 38.145,
 37.175,
 36.485,
 36.745,
 38.535,
 38.175,
 38.465,
 37.685,
 37.175,
 37.465,
 39.384,
 38.385,
 38.835,
 37.235,
 37.095,
 37.075,
 36.865,
 37.355,
 37.345,
 37.555,
 37.375,
 39.984,
 36.885,
 36.385,
 36.975,
 35.936,
 36.815,
 38.165,
 37.375,
 37.155,
 37.075,
 37.175,
 37.175,
 37.845,
 38.115,
 37.215,
 40.554,
 44.612,
 43.633,
 41.403,
 40.814,
 40.184,
 39.844,
 39.584,
 39.374,
 39.644,
 39.684,
 39.674,
 40.584,
 40.764,
 41.284,
 41.224,
 40.114,
 41.423,
 40.504,
 41.393,
 41.184,
 41.403,
 42.783,
 42.363,
 41.184,
 40.944,
 41.963,
 38.964,
 39.864,
 39.984,
 37.185,
 40.024,
 42.133,
 40.434,
 39.394,
 39.284,
 37.815,
 37.745,
 37.205,
 37.845,
 37.225,
 37.115,
 37.565,
 37.355,
 36.785,
 35.986,
 35.306,
 35.316,
 34.956,
 34.856,
 34.716,
 35.346,
 35.136,
 35.146,
 35.936,
 35.466,
 34.586,
 33.277,
 32.267,
 30.848,
 29.318,
 29.368,
 31.597,
 31.887,
 33.317,
 31.787,
 31.048,
 31.038,
 31.437,
 31.288,
 32.497,
 31.278,
 31.977,
 32.387,
 32.637,
 32.587,
 32.987,
 33.167,
 32.867,
 31.967,
 32.487,
 32.587,
 32.207,
 32.287,
 31.857,
 31.587,
 31.497,
 31.268,
 31.597,
 31.567,
 32.437,
 32.187,
 31.238,
 31.757,
 31.637,
 31.747,
 31.587,
 31.567,
 31.837,
 31.747,
 31.308,
 31.008,
 30.708,
 30.448,
 30.578,
 29.768,
 29.708,
 31.597,
 30.718,
 30.308,
 30.348,
 30.588,
 29.488,
 29.218,
 29.258,
 29.218,
 30.738,
 30.958,
 30.498,
 30.478,
 29.068,
 28.279,
 27.989,
 26.07,
 25.09,
 25.84,
 25.87,
 26.579,
 25.89,
 26.11,
 25.38,
 24.59,
 23.541,
 23.781,
 23.261,
 22.391,
 23.381,
 23.191,
 24.08,
 26.23,
 28.849,
 31.677,
 29.138,
 28.968,
 28.489,
 29.958,
 27.679,
 26.889,
 25.19,
 27.339,
 26.489,
 26.919,
 27.279,
 26.389,
 27.769,
 27.439,
 28.289,
 27.229,
 28.5,
 27.98,
 27.87,
 27.46,
 27.28,
 26.23,
 25.55,
 25.7,
 25.65,
 25.59,
 27.58,
 26.43,
 26.75,
 26.32,
 26.35,
 26.52,
 26.35,
 25.56,
 25.15,
 25.16,
 25.23,
 23.89,
 22.69,
 22.98,
 23.18,
 23.18,
 22.88,
 22.97,
 24.69,
 24.36,
 24.18,
 23.94,
 24.77,
 23.96,
 24.4,
 24.25,
 24.5,
 24.26,
 24.0,
 23.54,
 23.25,
 23.76,
 23.68,
 23.92,
 24.0,
 24.48,
 24.2,
 24.25,
 23.82,
 24.39,
 24.27,
 24.65,
 24.5,
 24.49,
 24.3,
 24.22,
 24.37,
 24.32,
 24.76,
 24.76,
 24.99,
 24.33,
 24.35,
 24.06,
 24.65,
 24.4,
 24.14,
 24.05,
 24.18,
 24.97,
 25.8,
 25.3,
 27.6,
 27.39,
 28.48,
 27.3,
 28.27,
 28.18,
 28.8]

In [105]:
(a,b,c) = tuple([1,2,3
              ])

In [106]:
a,b,c

(1, 2, 3)

In [124]:
df = ts.get_k_data("300191", start="2015-01-01", end="2015-01-31", ktype="30")

In [125]:
df

                 date   open  close   high    low   volume    code
0    2017-07-13 14:30  24.95  25.00  25.10  24.91   2224.0  300191
1    2017-07-13 15:00  25.00  25.00  25.02  24.87   4231.0  300191
2    2017-07-14 10:00  24.87  24.78  25.00  24.59   4284.0  300191
3    2017-07-14 10:30  24.78  24.88  24.95  24.75   1216.0  300191
4    2017-07-14 11:00  24.88  25.12  25.23  24.86   4213.0  300191
5    2017-07-14 11:30  25.12  25.08  25.12  25.00   1476.0  300191
6    2017-07-14 13:30  25.08  25.09  25.15  25.01   2018.0  300191
7    2017-07-14 14:00  25.09  25.00  25.09  24.88   1341.0  300191
8    2017-07-14 14:30  25.00  24.83  25.05  24.79   1840.0  300191
9    2017-07-14 15:00  24.83  24.87  24.93  24.67   4656.0  300191
10   2017-07-17 10:00  23.89  22.75  23.89  22.38  29135.0  300191
11   2017-07-17 10:30  22.75  22.81  23.00  22.60   6550.0  300191
12   2017-07-17 11:00  22.81  22.84  23.13  22.80   3881.0  300191
13   2017-07-17 11:30  22.84  22.84  22.95  22.78   2664.0  300191
14   2017-07-17 13:30  22.84  22.63  22.90  22.61   2688.0  300191
15   2017-07-17 14:00  22.63  22.41  22.74  22.40   6830.0  300191
16   2017-07-17 14:30  22.41  22.38  22.51  22.38   9200.0  300191
17   2017-07-17 15:00  22.38  22.38  22.38  22.38   2118.0  300191
18   2017-07-18 10:00  22.05  22.13  22.35  21.80   9504.0  300191
19   2017-07-18 10:30  22.13  22.01  22.13  21.81   4116.0  300191
20   2017-07-18 11:00  22.01  22.19  22.24  22.00   2000.0  300191
21   2017-07-18 11:30  22.19  22.27  22.50  22.15   2402.0  300191
22   2017-07-18 13:30  22.27  22.61  22.65  22.21   3345.0  300191
23   2017-07-18 14:00  22.61  22.57  22.69  22.50   2397.0  300191
24   2017-07-18 14:30  22.57  22.53  22.67  22.47   2172.0  300191
25   2017-07-18 15:00  22.53  22.55  22.56  22.46   3415.0  300191
26   2017-07-19 10:00  22.58  22.41  22.58  22.21   3971.0  300191
27   2017-07-19 10:30  22.41  22.34  22.45  22.28   1962.0  300191
28   2017-07-19 11:00  22.34  22.39  22.47  22.34   1695.0  300191
29   2017-07-19 11:30  22.39  22.65  22.65  22.38   1721.0  300191
..                ...    ...    ...    ...    ...      ...     ...
452  2017-10-09 11:00  27.50  28.07  28.26  27.34  26249.0  300191
453  2017-10-09 11:30  28.07  27.70  28.07  27.50  11552.0  300191
454  2017-10-09 13:30  27.70  27.86  27.87  27.56   4674.0  300191
455  2017-10-09 14:00  27.86  27.70  28.00  27.62   6438.0  300191
456  2017-10-09 14:30  27.70  27.71  27.96  27.63   5688.0  300191
457  2017-10-09 15:00  27.71  27.68  27.78  27.60  14407.0  300191
458  2017-10-10 10:00  27.35  27.15  27.48  27.02  14727.0  300191
459  2017-10-10 10:30  27.15  27.60  27.60  27.11   6086.0  300191
460  2017-10-10 11:00  27.60  27.86  27.95  27.60  11127.0  300191
461  2017-10-10 11:30  27.86  27.98  28.17  27.84  10145.0  300191
462  2017-10-10 13:30  27.98  27.64  27.98  27.62   5276.0  300191
463  2017-10-10 14:00  27.64  27.50  27.75  27.46   6204.0  300191
464  2017-10-10 14:30  27.50  27.71  27.75  27.46   3396.0  300191
465  2017-10-10 15:00  27.71  27.53  27.79  27.51  10951.0  300191
466  2017-10-11 10:00  27.32  27.56  27.99  27.31  12779.0  300191
467  2017-10-11 10:30  27.56  28.37  28.77  27.41  25163.0  300191
468  2017-10-11 11:00  28.37  28.26  28.47  28.22   8241.0  300191
469  2017-10-11 11:30  28.26  27.99  28.28  27.86   5023.0  300191
470  2017-10-11 13:30  27.99  28.32  28.33  27.99   2692.0  300191
471  2017-10-11 14:00  28.32  28.00  28.32  27.95   5231.0  300191
472  2017-10-11 14:30  28.00  27.62  28.00  27.51   6651.0  300191
473  2017-10-11 15:00  27.62  28.03  28.03  27.52  11329.0  300191
474  2017-10-12 10:00  27.76  27.80  28.27  27.62  10091.0  300191
475  2017-10-12 10:30  27.80  27.66  27.80  27.45   8315.0  300191
476  2017-10-12 11:00  27.66  27.88  27.92  27.61   3950.0  300191
477  2017-10-12 11:30  27.88  27.70  27.88  27.61   2720.0  300191
478  2017-10-12 13:30  27.70  27.90  28.00  27.68   3013.0  300191
479  2017-10-12 14:00  27.90  28.35  28.88  27.90  26275.0  300191
480  2017-10-12 14:30  28.35  28.45  28.55  28.22   7110.0  300191
481  2017-10-12 15:00  28.45  28.50  28.68  28.41  13547.0  300191

[482 rows x 7 columns]

In [135]:
filename = "sz000111.scv"
name=filename.split(".")[0][-6:]
name

'000111'

In [136]:
ts.get_k_data("000003")

           date  open  close  high   low     volume    code
0    1998-09-22  5.30   5.14  5.32  5.09   10211.91  000003
1    1998-09-23  5.20   5.09  5.20  5.05    8905.18  000003
2    1998-09-24  5.10   4.90  5.10  4.89   10747.00  000003
3    1998-09-25  4.86   4.94  4.97  4.80    6163.01  000003
4    1998-09-28  4.90   5.00  5.09  4.83    7078.97  000003
5    1998-09-29  5.00   4.99  5.08  4.97    5684.39  000003
6    1998-09-30  5.01   5.00  5.04  4.92    5167.53  000003
7    1998-10-05  5.00   5.01  5.08  4.98    4279.71  000003
8    1998-10-06  5.05   4.88  5.05  4.86    4215.18  000003
9    1998-10-07  4.88   4.82  4.95  4.80    4753.37  000003
10   1998-10-08  4.83   4.90  4.92  4.82    4497.23  000003
11   1998-10-09  4.90   4.90  4.98  4.88    4921.02  000003
12   1998-10-12  4.86   4.95  4.98  4.85    5787.54  000003
13   1998-10-13  4.95   4.90  5.01  4.86    5165.50  000003
14   1998-10-14  4.91   4.88  4.95  4.85    4643.91  000003
15   1998-10-15  4.90   4.88  4.90  4.83    6495.32  000003
16   1998-10-16  4.90   4.91  4.95  4.88    5649.92  000003
17   1998-10-19  4.98   5.04  5.04  4.92   11066.81  000003
18   1998-10-20  5.06   4.93  5.09  4.90    7027.00  000003
19   1998-10-21  4.92   4.76  4.93  4.70    7885.58  000003
20   1998-10-22  4.70   4.80  4.80  4.65    5918.95  000003
21   1998-10-23  4.81   4.76  4.86  4.73    3964.38  000003
22   1998-10-26  4.76   4.80  4.88  4.64    8810.55  000003
23   1998-10-27  4.79   4.74  4.83  4.68    5488.24  000003
24   1998-10-28  4.70   4.78  4.80  4.68    5470.29  000003
25   1998-10-29  4.80   4.71  4.80  4.70    4533.96  000003
26   1998-10-30  4.70   4.71  4.78  4.67    6135.04  000003
27   1998-11-02  4.70   4.73  4.78  4.68    4936.85  000003
28   1998-11-03  4.73   4.77  4.78  4.69    6243.78  000003
29   1998-11-04  4.78   4.90  5.00  4.75   14487.32  000003
..          ...   ...    ...   ...   ...        ...     ...
610  2001-04-17  6.75   7.09  7.09  6.75   24026.02  000003
611  2001-04-18  7.25   7.17  7.44  7.10   61398.77  000003
612  2001-04-19  7.12   7.16  7.19  7.00   24805.42  000003
613  2001-04-20  7.18   7.27  7.44  7.14   41970.36  000003
614  2001-04-23  7.28   7.59  7.60  7.27   51057.39  000003
615  2001-04-24  7.21   7.21  7.21  7.21    4670.00  000003
616  2001-04-25  6.85   6.85  6.85  6.85    3620.00  000003
617  2001-04-26  6.51   6.51  6.51  6.51    6659.00  000003
618  2001-04-27  6.18   6.24  6.47  6.18  185210.85  000003
619  2001-05-11  5.92   5.92  5.92  5.92   13365.00  000003
620  2001-05-18  5.40   5.40  5.40  5.40   21829.00  000003
621  2001-05-25  4.80   4.80  4.80  4.80   35040.00  000003
622  2001-06-08  4.57   4.57  4.57  4.57  104971.36  000003
623  2001-06-15  4.50   4.50  4.50  4.50   89780.00  000003
624  2001-06-22  4.73   4.73  4.73  4.73   69582.54  000003
625  2001-12-21  3.60   3.60  3.60  3.60    9759.00  000003
626  2002-01-04  3.10   3.10  3.10  3.10   17025.00  000003
627  2002-01-11  2.70   2.70  2.70  2.70   25837.00  000003
628  2002-01-25  1.89   1.89  1.89  1.89   12975.00  000003
629  2002-02-01  1.66   1.66  1.66  1.66   33520.64  000003
630  2002-02-08  1.74   1.74  1.74  1.74    9212.77  000003
631  2002-03-01  1.83   1.83  1.83  1.83   13207.50  000003
632  2002-03-08  1.92   1.92  1.92  1.92    6195.53  000003
633  2002-03-15  2.02   2.02  2.02  2.02    5203.67  000003
634  2002-03-22  2.12   2.12  2.12  2.12    5044.95  000003
635  2002-03-29  2.23   2.23  2.23  2.23    4460.27  000003
636  2002-04-05  2.34   2.34  2.34  2.34    4706.62  000003
637  2002-04-12  2.46   2.46  2.46  2.46    4969.37  000003
638  2002-04-19  2.58   2.58  2.58  2.58   14121.75  000003
639  2002-04-26  2.71   2.71  2.71  2.71   43972.05  000003

[640 rows x 7 columns]